In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [8]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [9]:
def get_weights(rawdata, zontoBorough):
    
    rawdata['Borough'] = rawdata['DOLocationID'].apply(lambda x:zontoBorough[x])
    
    borough_df = rawdata[['vehicle_count','Borough']].groupby(by='Borough').sum().reset_index()

    zone_df = rawdata[['vehicle_count','DOLocationID']].groupby(by='DOLocationID').sum().reset_index()

    zone_df['Borough'] = zone_df['DOLocationID'].apply(lambda x:zontoBorough[x])

    zone_df = pd.merge(borough_df, zone_df, on=['Borough'], how='inner')

    zone_df['zone_weight'] = zone_df.vehicle_count_y / zone_df.vehicle_count_x

    zone_df = zone_df[['Borough', 'DOLocationID', 'zone_weight']]

    return zone_df

#### Preparing Data

In [64]:
hub = 'Jfk'
tune_hyp_params = False

In [65]:
dataDir = '/home/urwa/Documents/Projects/NYU Remote/project/data/processedData/'
file = dataDir + hub + 'VehiceByHour.csv'

In [66]:
rawdata = loadData(file)

Raw shape:  (2260080, 4)
Days:  365

In [67]:
edge_data = getTimeSeries(rawdata)
edge_data = edge_data.reset_index()
edge_data.head(3)

DOLocationID,Date,Hour,1,2,3,4,5,6,7,8,...,254,255,256,257,258,259,260,261,262,263
0,2018-01-01,0,1,0,0,1,0,0,5,0,...,0,2,4,0,0,2,3,0,5,6
1,2018-01-01,1,0,0,1,1,0,0,1,0,...,0,2,2,1,1,0,2,0,0,1
2,2018-01-01,2,0,0,0,1,0,0,1,0,...,0,0,1,0,1,0,1,0,2,0

### Community Level Aggregation

In [68]:
zones = pd.read_csv('/home/urwa/Documents/Projects/NYU Remote/project/UrbanTemporalNetworks/Data/ZonetoComm.csv')
zones.head(2)

   start_id  start_community
0         1              0.0
1         2              4.2

In [69]:
zones['start_community'] = zones.start_community.astype(int).astype(str)

zontoComm = dict(zip(zones.start_id.values,zones.start_community.values))

In [70]:
comm_data = rawdata.copy(deep=True)
comm_data['DOLocationID'] = comm_data['DOLocationID'].apply(lambda x:zontoComm[x])
comm_data.head(2)

  DOLocationID       Date  Hour  vehicle_count
0            0 2018-01-01     0            1.0
1            4 2018-01-01     0            0.0

In [71]:
comm_data = getTimeSeries(comm_data)
comm_data = comm_data.reset_index()
comm_data.head(2)

DOLocationID       Date  Hour   0    1   2   3    4  5
0            2018-01-01     0  64  129  21  60  110  1
1            2018-01-01     1  46   90  16  19   61  2

In [72]:
zone_weights = get_weights(rawdata, zontoComm)
zone_weights.head(2)

  Borough  DOLocationID  zone_weight
0       0             1     0.004304
1       0             4     0.008316

### Merge External Data Features

In [73]:
externalDataDir = "/home/urwa/Documents/Projects/NYU Remote/project/data/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [74]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,6,263,174,437,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,18/1/1 1:00,6,138,133,271,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [75]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,6,263,174,437,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,6,138,133,271,1,0,0,0,0,...,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [76]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [77]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [78]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [79]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [80]:
extDf = extDf[selected_columns]

In [81]:
print(comm_data.shape)
print(extDf.shape)

(8760, 8)
(8760, 14)

In [82]:
comm_data['Date'] = pd.to_datetime(comm_data['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [83]:
comm_data = pd.merge(comm_data,extDf, on=['Date', 'Hour'], how='inner')
print(comm_data.shape)
comm_data['Date'] = comm_data['Date'].dt.date
comm_data.head()

(8760, 20)

,Date,Hour,0,1,2,3,4,5,Dow,arrival,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,64,129,21,60,110,1,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
1,2018-01-01,1,46,90,16,19,61,2,0,6,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
2,2018-01-01,2,16,22,4,8,24,0,0,2,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
3,2018-01-01,3,2,12,2,4,19,0,0,0,18,7,12.5,-21.2,52,0,0.0,0.0,0,0
4,2018-01-01,4,18,12,7,6,26,0,0,2,18,7,12.5,-21.2,52,0,0.0,0.0,0,0

In [84]:
comm_data.columns

Index(['Date', 'Hour', '0', '1', '2', '3', '4', '5', 'Dow', 'arrival',
       'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd',
       'participation', 'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [85]:
lagColumns = ['0', '1', '2', '3', '4', '5', 'arrival']

DateColumns = ['Date']

targetColumns = ['0', '1', '2', '3', '4', '5']

In [86]:
maxlag = 12

comm_data_lag = addLag(comm_data, maxlag, lagColumns)

comm_data_lag.shape

(8748, 104)

### Train Test split

In [122]:
# sep = int(0.75*len(comm_data_lag))
# sep

In [125]:
CommR2List = []
EdgeR2List = []
residualDf_list = []

for m in range(1,13):
    print()
    print("month: ",m)
    month_index  = pd.to_datetime(comm_data_lag.Date).dt.month == m

    dataset_train = comm_data_lag[~month_index]
    dataset_test = comm_data_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)

    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_testData = edge_data[edgeMonthIndex]
    select_cols = [c for c in edge_testData.columns if c not in ['Date','Hour']]
    edge_testData = edge_testData[select_cols]
    print("edge test data shape: ",edge_testData.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]

    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    comm_prediction = rf2.predict(X_test)
    edge_prediction_df = pd.DataFrame(comm_prediction)
    edge_prediction_df.columns = y_test.columns

    residual = y_test - comm_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    boroughs = list(edge_prediction_df.columns)
    for bor in boroughs:
    #     print(bor)

        weight_df = zone_weights[zone_weights.Borough == bor]

    #     print(len(weight_df.DOLocationID))

        for b_zone,z_weight in zip(weight_df.DOLocationID.values,weight_df.zone_weight.values):        
            edge_prediction_df[b_zone] = edge_prediction_df[bor] * z_weight


    select_cols = [c for c in edge_prediction_df.columns if c not in boroughs]
    edge_prediction_df = edge_prediction_df[select_cols]


    edge_prediction_df = edge_prediction_df[edge_testData.columns]

    edge_r2 = r2_score(edge_testData.values, edge_prediction_df.values, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)

    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)

month:  1
Train Size:  (8016, 104)
Test Size:  (732, 104)
edge test data shape:  (732, 258)
Train R2:  0.9936715290242315
Test R2:  0.8443333176687983
Edge R2:  0.45434234307756244

month:  2
Train Size:  (8076, 104)
Test Size:  (672, 104)
edge test data shape:  (672, 258)
Train R2:  0.993600788632121
Test R2:  0.8377989892592524
Edge R2:  0.5011115125644415

month:  3
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.9935969521754603
Test R2:  0.8653892294400185
Edge R2:  0.5220324884505182

month:  4
Train Size:  (8028, 104)
Test Size:  (720, 104)
edge test data shape:  (720, 258)
Train R2:  0.9935588341683417
Test R2:  0.8764077121590583
Edge R2:  0.5240301529357164

month:  5
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.9935233966654192
Test R2:  0.8756778914239237
Edge R2:  0.5346953589087324

month:  6
Train Size:  (8028, 104)
Test Size:  (720, 104)
edge test data shape:  (720, 258)
Train R2:  0.9934822863650294
Test R2:  0.8724595234890785
Edge R2:  0.5233431766439169

month:  7
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.993564901548092
Test R2:  0.8477943171873161
Edge R2:  0.4857513964975276

month:  8
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.9936536558781367
Test R2:  0.8342028039544576
Edge R2:  0.4634421244441867

month:  9
Train Size:  (8028, 104)
Test Size:  (720, 104)
edge test data shape:  (720, 258)
Train R2:  0.9934622620932929
Test R2:  0.8907081419031128
Edge R2:  0.5529938923985307

month:  10
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.993361381204901
Test R2:  0.8982909451563791
Edge R2:  0.5740062791051975

month:  11
Train Size:  (8028, 104)
Test Size:  (720, 104)
edge test data shape:  (720, 258)
Train R2:  0.9937111700187412
Test R2:  0.8312131452228225
Edge R2:  0.5123401015572121

month:  12
Train Size:  (8004, 104)
Test Size:  (744, 104)
edge test data shape:  (744, 258)
Train R2:  0.9937124188899693
Test R2:  0.8456314170666543
Edge R2:  0.5022374045659561

In [127]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.8599922861609058
0.5125271859291249

In [126]:
res_df = pd.concat(residualDf_list, axis = 0)
print(res_df.shape)
res_df.head()

(8748, 8)

,Date,Hour,0,1,2,3,4,5
12,2018-01-01,12,5.978889,13.125556,4.334444,39.575556,10.027778,0.607778
13,2018-01-01,13,-12.698889,-24.548889,-4.722222,16.712222,-12.340000,2.026667
14,2018-01-01,14,23.223333,48.006667,0.312222,48.416667,5.190000,-0.298889
15,2018-01-01,15,4.783333,46.168889,-0.965556,48.600000,7.401111,0.326667
16,2018-01-01,16,-8.907778,9.815556,16.145556,54.182222,8.050000,-0.597778

In [128]:
res_df.to_csv('/home/urwa/Documents/Projects/NYU Remote/project/data/residuals/jfk_comm6.csv')

Train R2:  0.9936715290242315
Test R2:  0.8443333176687983
(732, 6)
(732, 2)
Edge R2:  0.45434234307756244

In [120]:
residual_df.head()

,Date,Hour,0,1,2,3,4,5
12,2018-01-01,12,5.978889,13.125556,4.334444,39.575556,10.027778,0.607778
13,2018-01-01,13,-12.698889,-24.548889,-4.722222,16.712222,-12.340000,2.026667
14,2018-01-01,14,23.223333,48.006667,0.312222,48.416667,5.190000,-0.298889
15,2018-01-01,15,4.783333,46.168889,-0.965556,48.600000,7.401111,0.326667
16,2018-01-01,16,-8.907778,9.815556,16.145556,54.182222,8.050000,-0.597778