In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [8]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [9]:
def get_weights(rawdata, zontoBorough):
    
    rawdata['Borough'] = rawdata['DOLocationID'].apply(lambda x:zontoBorough[x])
    
    borough_df = rawdata[['vehicle_count','Borough']].groupby(by='Borough').sum().reset_index()

    zone_df = rawdata[['vehicle_count','DOLocationID']].groupby(by='DOLocationID').sum().reset_index()

    zone_df['Borough'] = zone_df['DOLocationID'].apply(lambda x:zontoBorough[x])

    zone_df = pd.merge(borough_df, zone_df, on=['Borough'], how='inner')

    zone_df['zone_weight'] = zone_df.vehicle_count_y / zone_df.vehicle_count_x

    zone_df = zone_df[['Borough', 'DOLocationID', 'zone_weight']]

    return zone_df

#### Preparing Data

In [10]:
hub = 'Lga'
tune_hyp_params = False

In [11]:
dataDir = '/home/urwa/Documents/Projects/NYU Remote/project/data/processedData/'
file = dataDir + hub + 'VehiceByHour.csv'

In [12]:
rawdata = loadData(file)

Raw shape:  (2251320, 4)
Days:  365

In [13]:
edge_data = getTimeSeries(rawdata)
edge_data = edge_data.reset_index()
edge_data.head(3)

DOLocationID,Date,Hour,1,2,3,4,5,6,7,8,...,254,255,256,257,258,259,260,261,262,263
0,2018-01-01,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,2,1,0,4,1
1,2018-01-01,1,0,0,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,1
2,2018-01-01,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Community Level Aggregation

In [14]:
zones = pd.read_csv('/home/urwa/Documents/Projects/NYU Remote/project/UrbanTemporalNetworks/Data/ZonetoComm.csv')
zones.head(2)

   start_id  start_community
0         1              0.0
1         2              4.2

In [15]:
zones['start_community'] = zones.start_community.astype(str)

zontoComm = dict(zip(zones.start_id.values,zones.start_community.values))

In [16]:
comm_data = rawdata.copy(deep=True)
comm_data['DOLocationID'] = comm_data['DOLocationID'].apply(lambda x:zontoComm[x])
comm_data.head(2)

  DOLocationID       Date  Hour  vehicle_count
0          0.0 2018-01-01     0            0.0
1          4.2 2018-01-01     0            0.0

In [17]:
comm_data = getTimeSeries(comm_data)
comm_data = comm_data.reset_index()
comm_data.head(2)

DOLocationID,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
0,2018-01-01,0,9,1,15,14,13,1,12,1,...,0,11,8,7,0,10,0,1,2,0
1,2018-01-01,1,4,0,0,1,1,0,0,1,...,0,2,3,2,0,2,0,0,0,0

In [18]:
zone_weights = get_weights(rawdata, zontoComm)
zone_weights.head(2)

  Borough  DOLocationID  zone_weight
0     0.0             1     0.004289
1     0.0            48     0.084743

### Merge External Data Features

In [19]:
externalDataDir = "/home/urwa/Documents/Projects/NYU Remote/project/data/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [20]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,3,89,67,156,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
1,18/1/1 1:00,0,17,8,25,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0

In [21]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,3,89,67,156,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,0,17,8,25,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0

In [22]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [23]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [24]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [25]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [26]:
extDf = extDf[selected_columns]

In [27]:
print(comm_data.shape)
print(extDf.shape)

(8760, 26)
(8760, 14)

In [28]:
comm_data['Date'] = pd.to_datetime(comm_data['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [29]:
comm_data = pd.merge(comm_data,extDf, on=['Date', 'Hour'], how='inner')
print(comm_data.shape)
comm_data['Date'] = comm_data['Date'].dt.date
comm_data.head()

(8760, 38)

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,9,1,15,14,13,1,12,1,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
1,2018-01-01,1,4,0,0,1,1,0,0,1,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
2,2018-01-01,2,0,0,0,0,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
3,2018-01-01,3,0,0,0,1,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0
4,2018-01-01,4,2,0,0,0,0,0,0,0,...,19,8,13.5,-20.5,51,0,0.0,0.0,0,0

In [30]:
comm_data.columns

Index(['Date', 'Hour', '0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3', 'Dow', 'arrival', 'maxtemp',
       'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd', 'participation',
       'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [31]:
lagColumns = ['0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3', 'arrival']

DateColumns = ['Date']

targetColumns = ['0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3']

In [32]:
maxlag = 12

comm_data_lag = addLag(comm_data, maxlag, lagColumns)

comm_data_lag.shape

(8748, 338)

### Train Test split

In [33]:
# sep = int(0.75*len(comm_data_lag))
# sep

In [34]:
CommR2List = []
EdgeR2List = []
residualDf_list = []

for m in range(1,13):
    print()
    print("month: ",m)
    month_index  = pd.to_datetime(comm_data_lag.Date).dt.month == m

    dataset_train = comm_data_lag[~month_index]
    dataset_test = comm_data_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)

    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_testData = edge_data[edgeMonthIndex]
    select_cols = [c for c in edge_testData.columns if c not in ['Date','Hour']]
    edge_testData = edge_testData[select_cols]
    print("edge test data shape: ",edge_testData.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]

    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    comm_prediction = rf2.predict(X_test)
    edge_prediction_df = pd.DataFrame(comm_prediction)
    edge_prediction_df.columns = y_test.columns

    residual = y_test - comm_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    boroughs = list(edge_prediction_df.columns)
    for bor in boroughs:
    #     print(bor)

        weight_df = zone_weights[zone_weights.Borough == bor]

    #     print(len(weight_df.DOLocationID))

        for b_zone,z_weight in zip(weight_df.DOLocationID.values,weight_df.zone_weight.values):        
            edge_prediction_df[b_zone] = edge_prediction_df[bor] * z_weight


    select_cols = [c for c in edge_prediction_df.columns if c not in boroughs]
    edge_prediction_df = edge_prediction_df[select_cols]


    edge_prediction_df = edge_prediction_df[edge_testData.columns]

    edge_r2 = r2_score(edge_testData.values, edge_prediction_df.values, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)

    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)

month:  1
Train Size:  (8016, 338)
Test Size:  (732, 338)
edge test data shape:  (732, 257)
Train R2:  0.994204346178202
Test R2:  0.8895755817061053
Edge R2:  0.6765881330942802

month:  2
Train Size:  (8076, 338)
Test Size:  (672, 338)
edge test data shape:  (672, 257)
Train R2:  0.9941416232590873
Test R2:  0.9014733147549149
Edge R2:  0.7069927842895949

month:  3
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9940732685562224
Test R2:  0.9170710788705502
Edge R2:  0.7302347252221032

month:  4
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9941124114202404
Test R2:  0.9161201684065354
Edge R2:  0.7227497150196707

month:  5
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9940478664495672
Test R2:  0.9238531807818305
Edge R2:  0.7306049747550298

month:  6
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9940816386172959
Test R2:  0.9183234213388358
Edge R2:  0.7250939023151259

month:  7
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.994157715162582
Test R2:  0.9075900468712763
Edge R2:  0.702901098019881

month:  8
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9942152992955698
Test R2:  0.8914993323238464
Edge R2:  0.6776898286388322

month:  9
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9940910816269549
Test R2:  0.9154257579879017
Edge R2:  0.7205074813871325

month:  10
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9939766781739113
Test R2:  0.9245489727673971
Edge R2:  0.7383929881534906

month:  11
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9941503053344866
Test R2:  0.8952960124332586
Edge R2:  0.707976527150976

month:  12
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9940854421064339
Test R2:  0.881723477706518
Edge R2:  0.7105735346651879

In [35]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.9068750288290809
0.7125254743926087

In [36]:
res_df = pd.concat(residualDf_list, axis = 0)
print(res_df.shape)
res_df.head()

(8748, 26)

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
12,2018-01-01,12,-44.245556,-6.688889,10.690000,6.901111,-2.601111,0.313333,-2.018889,2.357778,...,-0.076667,1.508889,-9.666667,-2.876667,-0.764444,-11.412222,-0.188889,-0.087778,-0.096667,-0.078889
13,2018-01-01,13,-56.304444,3.506667,0.306667,8.477778,-11.651111,1.066667,1.447778,-2.993333,...,-0.047778,-5.686667,-5.526667,-7.965556,-0.554444,2.284444,-0.212222,-0.112222,-0.067778,-0.112222
14,2018-01-01,14,-49.615556,10.414444,35.757778,-8.388889,1.710000,3.505556,6.637778,0.660000,...,-0.045556,4.155556,-3.690000,-2.921111,-0.652222,6.743333,-0.166667,-0.095556,-0.096667,-0.178889
15,2018-01-01,15,-62.073333,11.074444,35.958889,2.342222,13.114444,2.568889,5.036667,-2.088889,...,-0.067778,-5.915556,-5.247778,3.142222,-0.617778,11.170000,-0.234444,-0.137778,-0.111111,-0.115556
16,2018-01-01,16,-88.858889,-2.794444,20.110000,-5.848889,18.313333,-4.036667,-6.213333,-4.857778,...,-0.064444,-7.144444,-10.690000,-5.338889,-0.707778,-10.935556,-0.218889,-0.147778,-0.193333,-0.165556

In [40]:
res_df.to_csv('/home/urwa/Documents/Projects/NYU Remote/project/data/residuals/lga_comm24.csv')

In [38]:
residual_df.head()

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
8016,2018-12-01,0,6.356667,-4.130000,-1.071111,7.531111,1.954444,2.330000,-0.192222,-1.090000,...,-0.026667,0.804444,-2.936667,5.408889,-0.261111,2.975556,-0.197778,-0.141111,-0.130000,-0.083333
8017,2018-12-01,1,-7.773333,-1.580000,-5.752222,0.424444,-2.677778,-0.676667,-1.292222,-0.658889,...,0.000000,-0.022222,-2.007778,-0.384444,-0.090000,-1.057778,-0.028889,-0.004444,-0.013333,-0.014444
8018,2018-12-01,2,-0.816667,-0.112222,-0.418889,-0.192222,-0.268889,-0.068889,-0.315556,-0.115556,...,0.000000,-0.775556,0.551111,-0.803333,0.000000,0.592222,-0.013333,0.000000,0.000000,0.000000
8019,2018-12-01,3,-0.512222,-0.035556,-0.224444,-0.100000,-0.112222,-0.061111,-0.185556,-0.063333,...,0.000000,0.394444,0.501111,0.297778,0.000000,-0.278889,-0.021111,-0.015556,0.000000,0.000000
8020,2018-12-01,4,0.001111,-0.066667,-0.275556,-0.174444,0.860000,-0.056667,-0.325556,-0.163333,...,0.000000,-0.410000,-0.982222,-0.874444,0.000000,0.448889,0.000000,-0.008889,0.000000,0.000000