In [1]:
import pandas as pd
from sklearn.decomposition import PCA
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

from sklearn.model_selection import train_test_split
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.multioutput import MultiOutputRegressor

### Helper Functions

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
    data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date','Hour'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)
    return table

In [4]:
def zscoreNormalizeSpatial(matrix):
    m = matrix.copy()
    for i in range(m.shape[0]):
        m[i, :] = (m[i, :] - m[i, :].mean()) / (m[i, :].std()+1e-10)
        
    return m

In [5]:
def standardize(matrix):
    m = matrix.copy()
    scaler = StandardScaler()
    scaler.fit(m)
    t = scaler.transform(m)
    return scaler, t

In [6]:
def inverse_standardize(matrix, scaler):
    t = matrix.copy()
    return scaler.inverse_transform(t)

In [7]:
def addLag(dataset, maxlag, lagColumns):
    dataset_list = [dataset]

    for l in range(1, maxlag+1):
        df = dataset.shift(l)
        df = df[lagColumns]
        df.columns = [c+'_lag_'+str(l) for c in df.columns]
        dataset_list.append(df)

    dataset = pd.concat(dataset_list, axis=1).dropna()
    return dataset

In [8]:
def get_rmse(matrix1, matrix2):
    sumSquareError = np.mean(np.power(matrix1 - matrix2,2))
    rmse = np.power(sumSquareError,0.5)
    return rmse

In [9]:
def get_weights(rawdata, zontoBorough):
    
    rawdata['Borough'] = rawdata['DOLocationID'].apply(lambda x:zontoBorough[x])
    
    borough_df = rawdata[['vehicle_count','Borough']].groupby(by='Borough').sum().reset_index()

    zone_df = rawdata[['vehicle_count','DOLocationID']].groupby(by='DOLocationID').sum().reset_index()

    zone_df['Borough'] = zone_df['DOLocationID'].apply(lambda x:zontoBorough[x])

    zone_df = pd.merge(borough_df, zone_df, on=['Borough'], how='inner')

    zone_df['zone_weight'] = zone_df.vehicle_count_y / zone_df.vehicle_count_x

    zone_df = zone_df[['Borough', 'DOLocationID', 'zone_weight']]

    return zone_df

#### Preparing Data

In [10]:
hub = 'Penn'
tune_hyp_params = False

In [11]:
dataDir = '/home/urwa/Documents/Projects/NYU Remote/project/data/processedData/'
file = dataDir + hub + 'VehiceByHour.csv'

In [12]:
rawdata = loadData(file)

Raw shape:  (2251320, 4)
Days:  365

In [13]:
edge_data = getTimeSeries(rawdata)
edge_data = edge_data.reset_index()
edge_data.head(3)

DOLocationID,Date,Hour,1,2,3,4,5,6,7,8,...,254,255,256,257,258,259,260,261,262,263
0,2018-01-01,0,0,0,0,4,0,0,1,0,...,0,3,1,0,1,0,0,2,7,3
1,2018-01-01,1,0,0,0,8,0,0,6,0,...,0,13,4,3,0,0,1,3,5,13
2,2018-01-01,2,1,0,0,7,0,0,8,0,...,0,4,2,1,0,0,1,4,4,10

### Community Level Aggregation

In [14]:
zones = pd.read_csv('/home/urwa/Documents/Projects/NYU Remote/project/UrbanTemporalNetworks/Data/ZonetoComm.csv')
zones.head(2)

   start_id  start_community
0         1              0.0
1         2              4.2

In [15]:
zones['start_community'] = zones.start_community.astype(str)

zontoComm = dict(zip(zones.start_id.values,zones.start_community.values))

In [16]:
comm_data = rawdata.copy(deep=True)
comm_data['DOLocationID'] = comm_data['DOLocationID'].apply(lambda x:zontoComm[x])
comm_data.head(2)

  DOLocationID       Date  Hour  vehicle_count
0          0.0 2018-01-01     0            0.0
1          4.2 2018-01-01     0            0.0

In [17]:
comm_data = getTimeSeries(comm_data)
comm_data = comm_data.reset_index()
comm_data.head(2)

DOLocationID,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
0,2018-01-01,0,119,62,116,4,18,3,14,5,...,0,2,4,2,0,8,0,0,0,0
1,2018-01-01,1,162,60,244,8,29,10,47,1,...,0,4,2,7,0,12,0,0,1,0

In [18]:
zone_weights = get_weights(rawdata, zontoComm)
zone_weights.head(2)

  Borough  DOLocationID  zone_weight
0     0.0             1     0.014630
1     0.0            48     0.097804

### Merge External Data Features

In [19]:
externalDataDir = "/home/urwa/Documents/Projects/NYU Remote/project/data/HongData/"
extFile = externalDataDir + hub.upper() + ".csv"

In [20]:
extDf = pd.read_csv(extFile)
print(extDf.shape)
extDf.head(2)

(8760, 46)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,18/1/1 0:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,18/1/1 1:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [21]:
extDf['date'] = pd.to_datetime(extDf['date'], yearfirst=True)
extDf.head(2)

,date,arrival,fhv,yellow,vehicle,ifmon,iftue,ifwed,ifthu,iffri,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01 00:00:00,0,147,319,466,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,2018-01-01 01:00:00,1,347,397,744,1,0,0,0,0,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [22]:
min(extDf.date), max(extDf.date)

(Timestamp('2018-01-01 00:00:00'), Timestamp('2018-12-31 23:00:00'))

In [23]:
extDf['Hour'] = extDf['date'].dt.hour
extDf['Dow'] = extDf['date'].dt.dayofweek
extDf['Date'] = extDf['date'].dt.date

In [24]:
extDf.columns

Index(['date', 'arrival', 'fhv', 'yellow', 'vehicle', 'ifmon', 'iftue',
       'ifwed', 'ifthu', 'iffri', 'ifsat', 'ifsun', 'if0', 'if1', 'if2', 'if3',
       'if4', 'if5', 'if6', 'if7', 'if8', 'if9', 'if10', 'if11', 'if12',
       'if13', 'if14', 'if15', 'if16', 'if17', 'if18', 'if19', 'if20', 'if21',
       'if22', 'if23', 'maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow', 'Hour', 'Dow',
       'Date'],
      dtype='object')

In [25]:
selected_columns = ['Date', 'Hour', 'Dow', 'arrival','maxtemp', 'mintemp', 'avgtemp', 'departure', 'hdd',
       'cdd', 'participation', 'newsnow', 'snowdepth', 'ifSnow']

In [26]:
extDf = extDf[selected_columns]

In [27]:
print(comm_data.shape)
print(extDf.shape)

(8760, 26)
(8760, 14)

In [28]:
comm_data['Date'] = pd.to_datetime(comm_data['Date'])
extDf['Date'] = pd.to_datetime(extDf['Date'])

In [29]:
comm_data = pd.merge(comm_data,extDf, on=['Date', 'Hour'], how='inner')
print(comm_data.shape)
comm_data['Date'] = comm_data['Date'].dt.date
comm_data.head()

(8760, 38)

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,maxtemp,mintemp,avgtemp,departure,hdd,cdd,participation,newsnow,snowdepth,ifSnow
0,2018-01-01,0,119,62,116,4,18,3,14,5,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
1,2018-01-01,1,162,60,244,8,29,10,47,1,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
2,2018-01-01,2,178,65,174,12,23,7,55,4,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
3,2018-01-01,3,134,37,126,15,16,8,35,3,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0
4,2018-01-01,4,82,22,71,6,11,3,21,3,...,19,7,13.0,-20.4,52,0,0.0,0.0,0,0

In [30]:
comm_data.columns

Index(['Date', 'Hour', '0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3', 'Dow', 'arrival', 'maxtemp',
       'mintemp', 'avgtemp', 'departure', 'hdd', 'cdd', 'participation',
       'newsnow', 'snowdepth', 'ifSnow'],
      dtype='object')

In [31]:
lagColumns = ['0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3', 'arrival']

DateColumns = ['Date']

targetColumns = ['0.0', '0.1', '0.2', '1.0', '1.1', '1.2', '1.3', '2.0',
       '2.1', '2.2', '2.3', '3.0', '3.1', '3.2', '4.0', '4.1', '4.2', '4.3',
       '4.4', '4.5', '5.0', '5.1', '5.2', '5.3']

In [32]:
maxlag = 12

comm_data_lag = addLag(comm_data, maxlag, lagColumns)

comm_data_lag.shape

(8748, 338)

### Train Test split

In [33]:
# sep = int(0.75*len(comm_data_lag))
# sep

In [34]:
CommR2List = []
EdgeR2List = []
residualDf_list = []

for m in range(1,13):
    print()
    print("month: ",m)
    month_index  = pd.to_datetime(comm_data_lag.Date).dt.month == m

    dataset_train = comm_data_lag[~month_index]
    dataset_test = comm_data_lag[month_index]
    print("Train Size: ",dataset_train.shape)
    print("Test Size: ",dataset_test.shape)

    edgeMonthIndex = [False] * maxlag + list(month_index)
    edge_testData = edge_data[edgeMonthIndex]
    select_cols = [c for c in edge_testData.columns if c not in ['Date','Hour']]
    edge_testData = edge_testData[select_cols]
    print("edge test data shape: ",edge_testData.shape)


    X_train = dataset_train.drop(targetColumns+DateColumns , axis = 1)
    X_test = dataset_test.drop(targetColumns+DateColumns , axis = 1)
    y_train = dataset_train[targetColumns]
    y_test = dataset_test[targetColumns]

    rf2 = RandomForestRegressor(random_state = 2019, n_estimators=150, 
                               min_samples_split=3,
                               min_samples_leaf= 2, 
                               max_features= 'sqrt',
                               max_depth= None, 
                               bootstrap= False)

    rf2.fit(X_train,y_train)

    print("Train R2: ",rf2.score(X_train,y_train))
    test_r2 = rf2.score(X_test,y_test)
    print("Test R2: ",test_r2)


    comm_prediction = rf2.predict(X_test)
    edge_prediction_df = pd.DataFrame(comm_prediction)
    edge_prediction_df.columns = y_test.columns

    residual = y_test - comm_prediction
    residual_df = dataset_test[['Date','Hour']]
    residual_df = pd.concat([residual_df,pd.DataFrame(residual)], axis =1)

    boroughs = list(edge_prediction_df.columns)
    for bor in boroughs:
    #     print(bor)

        weight_df = zone_weights[zone_weights.Borough == bor]

    #     print(len(weight_df.DOLocationID))

        for b_zone,z_weight in zip(weight_df.DOLocationID.values,weight_df.zone_weight.values):        
            edge_prediction_df[b_zone] = edge_prediction_df[bor] * z_weight


    select_cols = [c for c in edge_prediction_df.columns if c not in boroughs]
    edge_prediction_df = edge_prediction_df[select_cols]


    edge_prediction_df = edge_prediction_df[edge_testData.columns]

    edge_r2 = r2_score(edge_testData.values, edge_prediction_df.values, multioutput='variance_weighted')
    print("Edge R2: ",edge_r2)

    CommR2List.append(test_r2)
    EdgeR2List.append(edge_r2)
    residualDf_list.append(residual_df)

month:  1
Train Size:  (8016, 338)
Test Size:  (732, 338)
edge test data shape:  (732, 257)
Train R2:  0.9931886858605989
Test R2:  0.856861852019376
Edge R2:  0.530348269869422

month:  2
Train Size:  (8076, 338)
Test Size:  (672, 338)
edge test data shape:  (672, 257)
Train R2:  0.9931215433189904
Test R2:  0.8815216894306375
Edge R2:  0.5539930755214771

month:  3
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9932071855590934
Test R2:  0.8725161873980556
Edge R2:  0.5367241364700431

month:  4
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9930775907293694
Test R2:  0.9088344164884865
Edge R2:  0.562598728288345

month:  5
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9930439707355283
Test R2:  0.9135562177668293
Edge R2:  0.5719174223298332

month:  6
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9930840991308858
Test R2:  0.8900773293199324
Edge R2:  0.5388022413820651

month:  7
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.99315888395001
Test R2:  0.8802139972544609
Edge R2:  0.5266199734199992

month:  8
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9931480123934958
Test R2:  0.8948658195776967
Edge R2:  0.5353521957102625

month:  9
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.993083182161713
Test R2:  0.892335890613001
Edge R2:  0.533223986380143

month:  10
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9931231647318817
Test R2:  0.8954315465234581
Edge R2:  0.5317733188363282

month:  11
Train Size:  (8028, 338)
Test Size:  (720, 338)
edge test data shape:  (720, 257)
Train R2:  0.9931959845241456
Test R2:  0.8723756228041749
Edge R2:  0.53881094687683

month:  12
Train Size:  (8004, 338)
Test Size:  (744, 338)
edge test data shape:  (744, 257)
Train R2:  0.9932686138588661
Test R2:  0.8498576067717984
Edge R2:  0.5097578411126376

In [35]:
print(np.mean(CommR2List))
print(np.mean(EdgeR2List))

0.8840373479973257
0.5391601780164489

In [36]:
res_df = pd.concat(residualDf_list, axis = 0)
print(res_df.shape)
res_df.head()

(8748, 26)

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
12,2018-01-01,12,4.515556,-22.593333,-31.028889,-0.473333,-1.528889,1.524444,2.096667,-0.670000,...,0.000000,4.465556,5.978889,0.398889,-0.070000,-0.061111,-0.020000,-0.053333,-0.052222,-0.027778
13,2018-01-01,13,16.723333,-7.936667,-12.345556,6.096667,2.012222,-0.826667,-1.426667,1.153333,...,0.000000,0.336667,4.998889,1.201111,-0.077778,2.794444,0.950000,0.957778,-0.048889,-0.056667
14,2018-01-01,14,-44.230000,-12.697778,-32.470000,1.956667,5.143333,0.032222,5.632222,0.907778,...,-0.004444,0.304444,-3.170000,-0.827778,-0.043333,4.405556,-0.045556,-0.073333,-0.025556,-0.024444
15,2018-01-01,15,28.075556,5.295556,2.993333,1.054444,10.474444,4.497778,-3.603333,-0.315556,...,0.000000,0.232222,-0.374444,-1.125556,-0.073333,-3.023333,-0.058889,-0.066667,-0.044444,-0.038889
16,2018-01-01,16,42.561111,-7.110000,12.101111,2.680000,19.763333,1.393333,15.561111,-1.242222,...,-0.002222,1.160000,2.711111,4.734444,-0.090000,3.704444,-0.083333,-0.065556,-0.046667,-0.071111

In [41]:
res_df.to_csv('/home/urwa/Documents/Projects/NYU Remote/project/data/residuals/penn_comm24.csv')

In [40]:
res_df

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
12,2018-01-01,12,4.515556,-22.593333,-31.028889,-0.473333,-1.528889,1.524444,2.096667,-0.670000,...,0.000000,4.465556,5.978889,0.398889,-0.070000,-0.061111,-0.020000,-0.053333,-0.052222,-0.027778
13,2018-01-01,13,16.723333,-7.936667,-12.345556,6.096667,2.012222,-0.826667,-1.426667,1.153333,...,0.000000,0.336667,4.998889,1.201111,-0.077778,2.794444,0.950000,0.957778,-0.048889,-0.056667
14,2018-01-01,14,-44.230000,-12.697778,-32.470000,1.956667,5.143333,0.032222,5.632222,0.907778,...,-0.004444,0.304444,-3.170000,-0.827778,-0.043333,4.405556,-0.045556,-0.073333,-0.025556,-0.024444
15,2018-01-01,15,28.075556,5.295556,2.993333,1.054444,10.474444,4.497778,-3.603333,-0.315556,...,0.000000,0.232222,-0.374444,-1.125556,-0.073333,-3.023333,-0.058889,-0.066667,-0.044444,-0.038889
16,2018-01-01,16,42.561111,-7.110000,12.101111,2.680000,19.763333,1.393333,15.561111,-1.242222,...,-0.002222,1.160000,2.711111,4.734444,-0.090000,3.704444,-0.083333,-0.065556,-0.046667,-0.071111
17,2018-01-01,17,19.647778,-12.154444,35.284444,10.665556,8.285556,1.884444,16.446667,0.547778,...,0.000000,0.987778,1.364444,2.362222,-0.137778,6.230000,-0.123333,-0.095556,-0.037778,-0.054444
18,2018-01-01,18,47.233333,5.232222,4.335556,10.491111,11.147778,-0.470000,3.902222,1.196667,...,0.000000,-2.057778,-0.336667,-1.005556,-0.102222,0.272222,-0.062222,-0.051111,-0.037778,-0.061111
19,2018-01-01,19,-32.007778,-11.315556,-52.508889,6.945556,6.968889,4.086667,11.167778,-1.835556,...,0.000000,-1.118889,1.626667,-1.267778,-0.115556,-3.764444,-0.102222,-0.074444,-0.070000,-0.086667
20,2018-01-01,20,-35.608889,-21.566667,-85.345556,-1.146667,-12.426667,-3.586667,-13.396667,-1.300000,...,0.000000,-0.488889,-5.718889,-0.592222,-0.117778,-0.671111,-0.134444,-0.107778,-0.067778,-0.074444
21,2018-01-01,21,34.491111,-7.993333,43.637778,9.685556,8.442222,1.060000,2.524444,0.292222,...,0.000000,-1.775556,-2.384444,-3.088889,-0.127778,1.388889,-0.135556,-0.108889,-0.075556,0.886667
22,2018-01-01,22,15.281111,5.227778,3.587778,1.783333,0.067778,-1.637778,4.713333,-2.067778,...,0.000000,-2.155556,0.381111,-2.030000,-0.130000,6.834444,-0.127778,-0.168889,-0.101111,-0.127778
23,2018-01-01,23,-34.151111,-2.277778,-36.390000,2.430000,-6.298889,-1.540000,-0.972222,0.064444,...,0.000000,-0.474444,-4.168889,-1.668889,-0.343333,-2.123333,-0.154444,0.768889,-0.147778,-0.157778
24,2018-01-02,0,-51.226667,-15.941111,-58.254444,-1.816667,-9.864444,0.037778,-9.608889,0.457778,...,0.000000,-1.355556,-2.094444,-3.051111,-0.226667,-11.086667,-0.140000,-0.120000,-0.095556,-0.061111
25,2018-01-02,1,-26.431111,-7.476667,-22.901111,1.603333,0.214444,-1.770000,0.834444,-2.973333,...,0.000000,-2.148889,-0.568889,-1.252222,-0.062222,-5.536667,-0.077778,-0.056667,-0.024444,-0.038889
26,2018-01-02,2,-4.302222,-1.826667,-0.204444,-2.046667,1.723333,0.338889,0.965556,1.090000,...,0.000000,-0.524444,-0.607778,-0.203333,-0.066667,-0.020000,-0.066667,-0.058889,-0.018889,-0.027778
27,2018-01-02,3,-3.998889,0.177778,2.546667,1.494444,-0.377778,2.066667,1.765556,1.676667,...,0.000000,1.301111,-0.247778,-0.510000,-0.035556,1.072222,-0.043333,-0.010000,-0.046667,-0.012222
28,2018-01-02,4,-6.944444,-2.425556,-4.714444,-1.068889,-1.106667,-0.580000,-2.295556,-0.803333,...,0.000000,0.551111,-0.423333,-1.090000,-0.020000,-0.828889,-0.042222,-0.005556,-0.025556,-0.010000
29,2018-01-02,5,16.568889,8.421111,-7.708889,1.114444,-0.008889,-0.423333,-0.651111,0.247778,...,0.000000,0.615556,2.535556,0.371111,-0.021111,-0.986667,-0.011111,-0.005556,-0.012222,0.000000
30,2018-01-02,6,-9.235556,-10.066667,-6.185556,-0.368889,-1.268889,-0.625556,2.011111,-0.500000,...,0.000000,-0.438889,1.791111,-0.634444,-0.027778,1.265556,-0.023333,-0.040000,-0.002222,-0.008889
31,2018-01-02,7,19.531111,15.921111,-15.110000,-0.912222,1.258889,-0.058889,0.026667,0.031111,...,-0.006667,-0.548889,-3.264444,-0.524444,-0.014444,0.593333,-0.016667,-0.030000,-0.015556,-0.040000
32,2018-01-02,8,29.651111,27.286667,-28.664444,-0.041111,2.035556,-1.127778,-1.694444,1.762222,...,0.000000,-0.534444,1.708889,0.286667,-0.171111,-0.044444,-0.020000,-0.035556,-0.032222,-0.007778
33,2018-01-02,9,-18.774444,4.955556,-55.057778,-1.358889,-4.800000,-1.443333,3.171111,3.774444,...,0.000000,-0.720000,-1.425556,-0.038889,0.738889,1.453333,-0.021111,-0.033333,-0.008889,-0.008889
34,2018-01-02,10,-84.167778,-28.884444,-40.797778,-0.102222,-0.451111,0.486667,0.482222,1.597778,...,0.000000,0.147778,0.943333,-1.146667,-0.222222,-0.405556,-0.052222,-0.030000,-0.008889,-0.015556
35,2018-01-02,11,-46.283333,-5.666667,-5.196667,-0.344444,3.514444,0.364444,1.350000,2.593333,...,0.000000,-0.178889,7.437778,-0.377778,-0.063333,-1.556667,-0.080000,-0.055556,0.977778,-0.016667
36,2018-01-02,12,-31.033333,-10.830000,-15.088889,-0.526667,-1.551111,-1.710000,4.673333,-1.477778,...,0.000000,-1.130000,1.115556,0.506667,-0.075556,-1.774444,-0.064444,-0.042222,-0.027778,-0.018889
37,2018-01-02,13,-45.221111,3.073333,-17.401111,1.006667,-1.301111,-2.001111,5.052222,-1.605556,...,-0.028889,-1.168889,-2.020000,-1.643333,-0.128889,2.834444,-0.050000,-0.063333,-0.038889,0.988889
38,2018-01-02,14,30.793333,-3.971111,7.138889,1.911111,-1.967778,-1.182222,8.974444,1.671111,...,0.000000,-0.055556,0.676667,1.268889,-0.094444,0.524444,-0.035556,-0.046667,-0.025556,-0.041111
39,2018-01-02,15,34.262222,-14.126667,-37.502222,2.651111,6.200000,-1.340000,4.245556,0.597778,...,0.000000,-1.254444,2.994444,3.146667,-0.081111,1.297778,-0.064444,-0.082222,0.936667,-0.045556
40,2018-01-02,16,28.261111,-11.695556,-13.777778,0.521111,-3.085556,0.366667,4.075556,2.453333,...,0.000000,-1.423333,6.842222,-0.057778,-0.072222,0.745556,-0.067778,-0.026667,-0.026667,-0.057778
41,2018-01-02,17,-18.640000,-1.688889,-21.465556,2.474444,-2.296667,-2.627778,-0.674444,-0.020000,...,0.000000,-0.636667,-1.172222,-1.193333,-0.133333,0.830000,-0.060000,-0.073333,-0.086667,-0.062222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8730,2018-12-30,18,9.561111,-7.491111,-6.993333,2.135556,-2.238889,0.548889,10.625556,-0.928889,...,0.000000,0.617778,-2.103333,6.018889,-0.103333,0.591111,-0.113333,-0.076667,-0.042222,-0.070000
8731,2018-12-30,19,-61.610000,-19.131111,-39.218889,1.007778,-3.765556,0.223333,15.926667,-0.216667,...,0.000000,-1.670000,0.634444,1.658889,-0.090000,4.643333,-0.072222,-0.063333,-0.051111,-0.080000
8732,2018-12-30,20,-81.845556,-10.834444,-36.144444,6.194444,-0.605556,-0.137778,8.338889,-0.596667,...,0.000000,-2.650000,-1.328889,0.093333,-0.141111,6.000000,-0.098889,-0.093333,-0.071111,-0.122222
8733,2018-12-30,21,-7.831111,-18.403333,-31.591111,-0.313333,-7.726667,-0.382222,16.156667,-1.482222,...,-0.002222,-1.043333,-3.961111,-2.674444,-0.153333,3.654444,-0.136667,-0.194444,-0.140000,-0.106667
8734,2018-12-30,22,1.423333,-6.051111,3.438889,7.445556,8.510000,3.077778,14.012222,0.423333,...,-0.002222,1.918889,-0.912222,0.222222,-0.163333,3.971111,-0.163333,-0.200000,-0.124444,-0.138889
8735,2018-12-30,23,7.961111,-0.004444,18.968889,1.860000,25.038889,-3.172222,7.628889,-3.091111,...,-0.002222,-2.530000,-2.598889,-1.225556,-0.262222,0.993333,-0.272222,-0.273333,-0.145556,-0.133333
8736,2018-12-31,0,147.982222,8.133333,194.533333,9.143333,48.556667,3.345556,57.641111,3.335556,...,0.000000,0.675556,-2.133333,-1.716667,1.813333,10.117778,-0.104444,-0.167778,0.910000,-0.071111
8737,2018-12-31,1,43.587778,-2.826667,69.757778,2.221111,23.904444,2.163333,30.324444,-0.315556,...,0.000000,-0.383333,-2.318889,-1.834444,0.788889,7.656667,-0.133333,-0.184444,-0.101111,-0.081111
8738,2018-12-31,2,-5.283333,-6.464444,14.056667,12.510000,3.987778,-0.178889,27.281111,1.135556,...,0.000000,-3.234444,-1.053333,10.613333,-0.107778,1.895556,-0.115556,-0.132222,-0.091111,-0.081111
8739,2018-12-31,3,-3.804444,5.562222,7.438889,-1.185556,-1.223333,-0.121111,23.867778,-2.164444,...,0.000000,-0.563333,-2.263333,-3.714444,-0.124444,-1.783333,-0.094444,-0.051111,-0.038889,-0.034444
8740,2018-12-31,4,11.588889,8.532222,14.300000,2.598889,3.772222,-1.294444,13.031111,1.710000,...,0.000000,-0.985556,-0.894444,-0.690000,-0.048889,3.217778,-0.062222,-0.023333,-0.032222,-0.033333
8741,2018-12-31,5,-1.021111,-7.912222,-2.433333,-2.222222,1.256667,0.493333,5.233333,0.340000,...,0.000000,-1.457778,1.457778,-1.361111,-0.068889,-0.435556,-0.057778,-0.005556,-0.028889,-0.013333
8742,2018-12-31,6,76.934444,25.924444,0.470000,2.295556,0.927778,0.017778,1.564444,0.737778,...,0.000000,-0.821111,-4.923333,-1.513333,-0.023333,-0.671111,-0.024444,-0.003333,-0.014444,-0.015556
8743,2018-12-31,7,-19.446667,-19.901111,-9.743333,-2.510000,-2.721111,-1.274444,-3.970000,0.391111,...,-0.003333,-0.900000,-5.016667,-1.431111,0.921111,-3.794444,-0.032222,-0.024444,-0.006667,-0.028889
8744,2018-12-31,8,-85.672222,-34.673333,-27.427778,1.993333,-3.282222,0.957778,-2.806667,-1.472222,...,-0.002222,-0.960000,-0.734444,0.914444,-0.151111,-2.742222,-0.051111,-0.015556,-0.040000,-0.027778
8745,2018-12-31,9,-111.868889,-39.993333,-26.492222,-0.944444,-2.173333,-1.052222,-2.703333,0.680000,...,0.000000,1.035556,0.784444,-0.207778,-0.166667,2.024444,-0.044444,-0.030000,-0.021111,-0.015556
8746,2018-12-31,10,-51.857778,-49.615556,-28.118889,-2.026667,-1.845556,-0.285556,0.826667,-0.355556,...,0.000000,0.708889,-3.150000,-0.445556,-0.135556,-0.210000,-0.023333,-0.033333,-0.024444,-0.020000
8747,2018-12-31,11,-88.812222,-34.714444,-22.768889,1.297778,-3.895556,-0.640000,3.184444,-1.987778,...,0.000000,-1.746667,-4.143333,0.401111,0.912222,0.753333,-0.052222,-0.073333,-0.035556,-0.010000
8748,2018-12-31,12,-62.565556,-20.608889,-39.972222,2.898889,2.008889,0.006667,1.744444,-2.102222,...,0.000000,1.113333,-1.707778,1.215556,-0.111111,0.898889,-0.078889,-0.080000,-0.064444,-0.018889
8749,2018-12-31,13,-64.732222,-5.507778,-15.763333,-3.461111,1.865556,0.820000,7.364444,-1.111111,...,0.000000,-1.921111,-4.615556,-0.092222,-0.070000,2.206667,-0.060000,-0.065556,-0.032222,-0.005556
8750,2018-12-31,14,-38.764444,-7.767778,-17.915556,5.380000,9.281111,-1.147778,4.016667,0.033333,...,-0.003333,-1.658889,-4.615556,0.988889,-0.065556,4.095556,-0.046667,-0.085556,-0.034444,-0.018889
8751,2018-12-31,15,-11.078889,10.118889,-5.514444,3.170000,2.625556,2.828889,11.481111,-0.061111,...,0.000000,-0.610000,-2.703333,-1.994444,-0.065556,11.172222,-0.041111,-0.055556,-0.040000,-0.028889
8752,2018-12-31,16,-12.477778,23.710000,14.124444,2.688889,-1.562222,-1.594444,10.214444,-0.151111,...,0.000000,-1.738889,-6.850000,2.675556,-0.038889,2.236667,-0.064444,-0.071111,0.958889,-0.028889
8753,2018-12-31,17,3.717778,-1.643333,39.203333,-2.156667,-4.416667,0.933333,-0.590000,1.627778,...,-0.003333,0.871111,-6.003333,-0.454444,-0.108889,2.421111,-0.062222,-0.056667,-0.070000,-0.065556
8754,2018-12-31,18,72.310000,41.584444,11.000000,2.640000,9.942222,-2.214444,10.724444,-0.671111,...,0.000000,-0.127778,-2.595556,-0.827778,-0.135556,-2.172222,-0.077778,-0.090000,-0.071111,-0.072222
8755,2018-12-31,19,46.354444,54.062222,14.032222,0.720000,-0.641111,-2.772222,2.774444,-1.741111,...,0.000000,-1.310000,-2.667778,-1.243333,-0.120000,-2.722222,-0.086667,-0.078889,-0.067778,-0.093333
8756,2018-12-31,20,50.983333,71.334444,9.364444,-2.507778,4.978889,-1.861111,4.125556,-0.872222,...,0.000000,-1.437778,-5.865556,-0.410000,0.858889,-0.565556,-0.100000,-0.143333,-0.108889,-0.140000
8757,2018-12-31,21,33.866667,81.024444,-7.142222,-6.008889,-6.790000,-0.480000,-3.731111,3.654444,...,0.000000,0.312222,-3.902222,3.283333,-0.143333,-5.427778,-0.097778,-0.173333,-0.148889,-0.154444
8758,2018-12-31,22,-56.286667,2.434444,-43.842222,-2.795556,-1.758889,-2.470000,-1.891111,-0.538889,...,0.000000,0.324444,-3.491111,1.987778,0.784444,-5.948889,-0.114444,-0.175556,-0.108889,-0.145556
8759,2018-12-31,23,-47.464444,20.154444,-53.668889,-1.554444,-3.933333,0.644444,-5.568889,1.137778,...,0.000000,2.087778,-1.074444,0.950000,-0.215556,-7.618889,-0.186667,0.793333,-0.105556,-0.105556

In [38]:
residual_df.head()

,Date,Hour,0.0,0.1,0.2,1.0,1.1,1.2,1.3,2.0,...,4.0,4.1,4.2,4.3,4.4,4.5,5.0,5.1,5.2,5.3
8016,2018-12-01,0,10.165556,11.772222,19.046667,-3.680000,1.955556,5.044444,-2.626667,-1.390000,...,0.0,-1.518889,-3.567778,-1.353333,-0.406667,0.121111,-0.260000,-0.360000,-0.188889,1.846667
8017,2018-12-01,1,-5.981111,-7.912222,3.627778,7.007778,2.296667,0.323333,3.567778,-0.200000,...,0.0,0.390000,-2.524444,-1.855556,-0.324444,1.867778,-0.145556,0.808889,-0.124444,-0.097778
8018,2018-12-01,2,-22.360000,-0.551111,-3.152222,-1.496667,-0.624444,-0.017778,1.554444,-1.792222,...,0.0,4.902222,0.100000,2.435556,-0.130000,-2.346667,-0.072222,-0.137778,-0.057778,-0.125556
8019,2018-12-01,3,-2.871111,-1.966667,-11.968889,-3.057778,4.374444,-2.102222,-1.741111,-1.888889,...,0.0,-1.606667,0.881111,-2.702222,-0.112222,5.576667,-0.090000,-0.100000,-0.058889,-0.034444
8020,2018-12-01,4,5.996667,0.836667,-3.407778,-2.392222,-1.977778,0.104444,3.241111,0.022222,...,0.0,-0.530000,-2.804444,0.642222,-0.064444,2.966667,-0.090000,-0.045556,-0.046667,-0.023333