### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [40]:
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [2]:
dataDir = '/home/urwa/Documents/NYU/Data/'
processedFile = '/home/urwa/Documents/NYU/nycTaxi.csv'

In [3]:
files = glob.glob(dataDir+'*csv')

In [4]:
zones = pd.read_csv('taxi_zones.csv')
zones.head(2)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens

In [10]:
zones[zones.zone.apply(lambda x: 'Airport' in x)][['zone','LocationID']]

                  zone  LocationID
0       Newark Airport           1
136        JFK Airport         132
145  LaGuardia Airport         138

In [6]:
JfK_zone = 132
validDestZones = list(set([z for z in zones.LocationID if z != JfK_zone]))
len(validDestZones)

259

In [9]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file)
    print("DataFrame Shape: "+str(df.shape))
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1

    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from JFK
    df = df[(df['PULocationID'] == JfK_zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    
    df['vehicle_type'] = vehicleType
    
    # select rquired columns
    df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    
    # Hourly aggregation
    df_count = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count.rename(columns={'passenger_count': 'vehicle_count'},inplace=True)

    df_sum = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()

    aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('yo')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing yellow_tripdata_2018-02.csv
DataFrame Shape: (8492076, 17)
JFK out DataFrame Shape: (162101, 17)
Aggregated DataFrame Shape: (63667, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    14           137              1                1
1       yellow  2018-01-16    19            10              1                1
2       yellow  2018-01-16    22            28              1                1
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-10.csv
DataFrame Shape: (17890689, 6)
JFK out DataFrame Shape: (182087, 7)
Aggregated DataFrame Shape: (74067, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-10-01     0             7              2                2
1          fhv  2017-10-01     0            10              1                1
2          fhv  2017-10-01     0            14              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-10.csv
DataFrame Shape: (9768815, 17)
JFK out DataFrame Shape: (221376, 17)
Aggregated DataFrame Shape: (76213, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    14           144              1                5
1       yellow  2017-09-30    20            82              1                2
2       yellow  2017-09-30    23            36              1                5
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-09.csv
DataFrame Shape: (16621439, 6)
JFK out DataFrame Shape: (180414, 7)
Aggregated DataFrame Shape: (72371, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-09-01     0             1              2                2
1          fhv  2017-09-01     0             3              1                1
2          fhv  2017-09-01     0             4              2                2
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-08.csv
DataFrame Shape: (15905901, 6)
JFK out DataFrame Shape: (182116, 7)
Aggregated DataFrame Shape: (77389, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-08-01     0             1              1                1
1          fhv  2017-08-01     0             3              1                1
2          fhv  2017-08-01     0             4              3                3
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-11.csv
DataFrame Shape: (9284803, 17)
JFK out DataFrame Shape: (195801, 17)
Aggregated DataFrame Shape: (70862, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2009-01-01     0            35              1                5
1       yellow  2017-10-31    23           130              1                2
2       yellow  2017-10-31    23           140              1                3
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-11.csv
DataFrame Shape: (22870474, 7)
JFK out DataFrame Shape: (255437, 8)
Aggregated DataFrame Shape: (86464, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-11-01     0             1              1                1
1          fhv  2018-11-01     0             3              1                1
2          fhv  2018-11-01     0             4              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-05.csv
DataFrame Shape: (10102124, 17)
JFK out DataFrame Shape: (232255, 17)
Aggregated DataFrame Shape: (81405, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-05-01     0             4              2                6
1       yellow  2017-05-01     0             7              4                6
2       yellow  2017-05-01     0            10              8               11
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-11.csv
DataFrame Shape: (8145164, 17)
JFK out DataFrame Shape: (188856, 17)
Aggregated DataFrame Shape: (71107, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    22           140              1                1
1       yellow  2008-12-31    23           246              1                1
2       yellow  2009-01-01     0           246              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-01.csv
DataFrame Shape: (9710124, 17)
JFK out DataFrame Shape: (211198, 17)
Aggregated DataFrame Shape: (78441, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-01-01     0             4              1                1
1       yellow  2017-01-01     0             7              2                2
2       yellow  2017-01-01     0            10              6                7
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-04.csv
DataFrame Shape: (14764853, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 6)
Empty DataFrame
Columns: [vehicle_count, vehicle_type, Date, Hour, DOLocationID, passenger_count]
Index: []
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-06.csv
DataFrame Shape: (8713831, 17)
JFK out DataFrame Shape: (205894, 17)
Aggregated DataFrame Shape: (74854, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2009-01-01     1           107              1                1
1       yellow  2018-05-31    21            13              1                5
2       yellow  2018-05-31    23            49              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-05.csv
DataFrame Shape: (21565692, 7)
JFK out DataFrame Shape: (229940, 8)
Aggregated DataFrame Shape: (85542, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-05-01     0             4              5                5
1          fhv  2018-05-01     0             7              3                3
2          fhv  2018-05-01     0            10              6                6
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-12.csv
DataFrame Shape: (9508276, 17)
JFK out DataFrame Shape: (182500, 17)
Aggregated DataFrame Shape: (70367, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    23            62              1                1
1       yellow  2009-01-01    12           140              1                1
2       yellow  2009-01-01    15            79              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-02.csv
DataFrame Shape: (13284950, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 6)
Empty DataFrame
Columns: [vehicle_count, vehicle_type, Date, Hour, DOLocationID, passenger_count]
Index: []
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-03.csv
DataFrame Shape: (15703039, 5)
JFK out DataFrame Shape: (6, 6)
Aggregated DataFrame Shape: (5, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-03-06    14           230              1                1
1          fhv  2017-03-11    20           125              2                2
2          fhv  2017-03-13    10           230              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-01.csv

/home/urwa/.virtualenvs/stan/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DataFrame Shape: (13657212, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 6)
Empty DataFrame
Columns: [vehicle_count, vehicle_type, Date, Hour, DOLocationID, passenger_count]
Index: []
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-10.csv
DataFrame Shape: (8821105, 17)
JFK out DataFrame Shape: (212255, 17)
Aggregated DataFrame Shape: (74624, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    23            50              1                1
1       yellow  2008-12-31    23           162              1                5
2       yellow  2009-01-01     5           186              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-05.csv
DataFrame Shape: (15397388, 5)
JFK out DataFrame Shape: (1118, 6)
Aggregated DataFrame Shape: (1017, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-05-01     5            13              1                1
1          fhv  2017-05-01     5           161              1                1
2          fhv  2017-05-01     7           239              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-03.csv
DataFrame Shape: (10294628, 17)
JFK out DataFrame Shape: (219222, 17)
Aggregated DataFrame Shape: (78029, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-03-01     0             4              1                4
1       yellow  2017-03-01     0             7              4                5
2       yellow  2017-03-01     0             9              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-12.csv
DataFrame Shape: (8173231, 17)
JFK out DataFrame Shape: (174983, 17)
Aggregated DataFrame Shape: (69955, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    21           211              1                1
1       yellow  2018-11-04    15            82              1                1
2       yellow  2018-11-04    17           171              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-07.csv
DataFrame Shape: (7849748, 17)
JFK out DataFrame Shape: (205408, 17)
Aggregated DataFrame Shape: (78254, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    15           247              1                1
1       yellow  2008-12-31    23            39              1                4
2       yellow  2009-01-01     0           189              1                3
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv
DataFrame Shape: (21135283, 7)
JFK out DataFrame Shape: (224587, 8)
Aggregated DataFrame Shape: (84089, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-06-01     0             1              1                1
1          fhv  2018-06-01     0             3              2                2
2          fhv  2018-06-01     0             4              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-04.csv
DataFrame Shape: (10046188, 17)
JFK out DataFrame Shape: (226584, 17)
Aggregated DataFrame Shape: (78732, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-04-01     0             1              1                2
1       yellow  2017-04-01     0             4              1                1
2       yellow  2017-04-01     0             7              4               13
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-09.csv
DataFrame Shape: (8040133, 17)
JFK out DataFrame Shape: (203757, 17)
Aggregated DataFrame Shape: (74714, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31     7           142              1                1
1       yellow  2008-12-31    23           158              1                1
2       yellow  2018-08-31    22            75              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-09.csv
DataFrame Shape: (8945459, 17)
JFK out DataFrame Shape: (214818, 17)
Aggregated DataFrame Shape: (75637, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-08-31    23            48              1                1
1       yellow  2017-08-31    23           123              1                1
2       yellow  2017-08-31    23           142              1                6
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-01.csv
DataFrame Shape: (19808094, 7)
JFK out DataFrame Shape: (215949, 8)
Aggregated DataFrame Shape: (81305, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-01-01     0             4              1                1
1          fhv  2018-01-01     0             7              3                3
2          fhv  2018-01-01     0            10              5                5
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-06.csv
DataFrame Shape: (9656993, 17)
JFK out DataFrame Shape: (214035, 17)
Aggregated DataFrame Shape: (77138, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-06-01     0             4              1                1
1       yellow  2017-06-01     0             7              6                8
2       yellow  2017-06-01     0            10              5                9
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-12.csv
DataFrame Shape: (23854144, 7)
JFK out DataFrame Shape: (234343, 8)
Aggregated DataFrame Shape: (86376, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-12-01     0             4              2                2
1          fhv  2018-12-01     0             7              5                5
2          fhv  2018-12-01     0            10              3                3
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-03.csv
DataFrame Shape: (21985249, 7)
JFK out DataFrame Shape: (219062, 8)
Aggregated DataFrame Shape: (82490, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-03-01     0             3              1                1
1          fhv  2018-03-01     0             4              2                2
2          fhv  2018-03-01     0             7              3                3
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-02.csv
DataFrame Shape: (9168825, 17)
JFK out DataFrame Shape: (172634, 17)
Aggregated DataFrame Shape: (65259, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-02-01     0             4              1                1
1       yellow  2017-02-01     0             7              1                1
2       yellow  2017-02-01     0            10              1                1
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-01.csv
DataFrame Shape: (8759874, 17)
JFK out DataFrame Shape: (188144, 17)
Aggregated DataFrame Shape: (73341, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2003-01-01     4           249              1                1
1       yellow  2017-12-31    17           160              1                1
2       yellow  2017-12-31    23            95              1                5
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-11.csv

DataFrame Shape: (18048534, 6)
JFK out DataFrame Shape: (184807, 7)
Aggregated DataFrame Shape: (72760, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-11-01     0             4              2                2
1          fhv  2017-11-01     0             7              2                2
2          fhv  2017-11-01     0            10              2                2
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-09.csv
DataFrame Shape: (22147421, 7)
JFK out DataFrame Shape: (250515, 8)
Aggregated DataFrame Shape: (87358, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-09-01     0             4              3                3
1          fhv  2018-09-01     0             5              1                1
2          fhv  2018-09-01     0             7              4                4
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-05.csv
DataFrame Shape: (9224063, 17)
JFK out DataFrame Shape: (217780, 17)
Aggregated DataFrame Shape: (77256, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    22           166              1                1
1       yellow  2009-01-01     0            69              1                1
2       yellow  2009-01-01     0           144              1                2
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-04.csv
DataFrame Shape: (21049377, 7)
JFK out DataFrame Shape: (212327, 8)
Aggregated DataFrame Shape: (82128, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-04-01     0             1              1                1
1          fhv  2018-04-01     0            10              6                6
2          fhv  2018-04-01     0            13              4                4
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-08.csv
DataFrame Shape: (8422153, 17)
JFK out DataFrame Shape: (217715, 17)
Aggregated DataFrame Shape: (83007, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2009-01-01     0           181              1                1
1       yellow  2017-08-01     0             7              2                2
2       yellow  2017-08-01     0            10              6               13
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-12.csv
DataFrame Shape: (19971846, 6)
JFK out DataFrame Shape: (181480, 7)
Aggregated DataFrame Shape: (75247, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-12-01     0             4              2                2
1          fhv  2017-12-01     0             7              2                2
2          fhv  2017-12-01     0            10              4                4
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-07.csv
DataFrame Shape: (15672672, 6)
JFK out DataFrame Shape: (177430, 7)
Aggregated DataFrame Shape: (74638, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-07-01     0             1              1                1
1          fhv  2017-07-01     0             4              2                2
2          fhv  2017-07-01     0             7              3                3
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-10.csv
DataFrame Shape: (23286795, 7)
JFK out DataFrame Shape: (257143, 8)
Aggregated DataFrame Shape: (88671, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-10-01     0             4              4                4
1          fhv  2018-10-01     0             7              9                9
2          fhv  2018-10-01     0             9              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-06.csv
DataFrame Shape: (15362154, 5)
JFK out DataFrame Shape: (170969, 6)
Aggregated DataFrame Shape: (71326, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2017-06-01     0             4              1                1
1          fhv  2017-06-01     0             7              2                2
2          fhv  2017-06-01     0            10              3                3
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-04.csv
DataFrame Shape: (9305515, 17)
JFK out DataFrame Shape: (210272, 17)
Aggregated DataFrame Shape: (75371, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2009-01-01     0            72              1                1
1       yellow  2009-01-01    18           162              1                1
2       yellow  2009-01-01    20            39              1                2
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-03.csv
DataFrame Shape: (9430376, 17)
JFK out DataFrame Shape: (199739, 17)
Aggregated DataFrame Shape: (73962, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2002-12-31    23           239              1                1
1       yellow  2003-01-01    23            87              1                1
2       yellow  2009-01-01     0            89              1                1
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-02.csv
DataFrame Shape: (19350693, 7)
JFK out DataFrame Shape: (176542, 8)
Aggregated DataFrame Shape: (70384, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-02-01     0             4              1                1
1          fhv  2018-02-01     0             6              1                1
2          fhv  2018-02-01     0             7              3                3
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-08.csv
DataFrame Shape: (7849134, 17)
JFK out DataFrame Shape: (210080, 17)
Aggregated DataFrame Shape: (81715, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    23           140              1                2
1       yellow  2008-12-31    23           161              1                2
2       yellow  2009-01-01    17            80              1                6
yo
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-07.csv
DataFrame Shape: (8588486, 17)
JFK out DataFrame Shape: (215041, 17)
Aggregated DataFrame Shape: (80302, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-07-01     0             1              1                1
1       yellow  2017-07-01     0             7              8               14
2       yellow  2017-07-01     0            10             12               19
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-08.csv
DataFrame Shape: (22116391, 7)
JFK out DataFrame Shape: (253588, 8)
Aggregated DataFrame Shape: (93982, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-08-01     0             1              1                1
1          fhv  2018-08-01     0             4              2                2
2          fhv  2018-08-01     0             7              4                4
yo
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-07.csv
DataFrame Shape: (21596443, 7)
JFK out DataFrame Shape: (235519, 8)
Aggregated DataFrame Shape: (89002, 6)
  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0          fhv  2018-07-01     0             1              1                1
1          fhv  2018-07-01     0             7              3                3
2          fhv  2018-07-01     0            10              9                9
yo

file saved..
------------------------------------------------

### Further processing

In [96]:
def getcCompleteGridDf(v_types,minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    print(len(days))
    print(len(hours))
    
    combList = list(itertools.product(*[v_types,days,hours,locations]))
    dfList = [{'vehicle_type':v, 'Date':d, 'Hour':h, 'DOLocationID':l} for v,d,h,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [97]:
processedDf = pd.read_csv(processedFile)
processedDf.head(2)

  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2008-12-31    14           137              1                1
1       yellow  2018-01-16    19            10              1                1

In [98]:
processedDf.shape

(3340823, 6)

In [99]:
# ensuring proper grouping sine files were grouped by independently
processedDf = processedDf.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()
processedDf.shape

(3340641, 6)

In [100]:
# sanity checks
validYears = [2017,2018]
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[0]) in validYears)]

validMonths = list(range(1,13))
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[1]) in validMonths)]

processedDf.shape

(3340596, 6)

In [101]:
minDate, maxDate = (processedDf.Date.min(), processedDf.Date.max()) 
v_types = list(set(processedDf.vehicle_type))
locations = list(set(processedDf.DOLocationID))

print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(v_types,minDate,maxDate,locations)
processedDf = pd.merge(dateHourDf,processedDf, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='left')
processedDf.fillna(0, inplace=True)
processedDf.shape

2
258
730
24

(9040320, 6)

In [94]:
# sanity check for size of new dataframe
730*2*258*24

9040320

In [102]:
processedDf.head()

  vehicle_type        Date  Hour  DOLocationID  vehicle_count  passenger_count
0       yellow  2017-01-01     0             1            0.0              0.0
1       yellow  2017-01-01     0             2            0.0              0.0
2       yellow  2017-01-01     0             3            0.0              0.0
3       yellow  2017-01-01     0             4            0.0              0.0
4       yellow  2017-01-01     0             5            0.0              0.0

In [103]:
# fraction of combinations that have data. Data is very scarce !!!
3340596/9040320

0.36952187533184666

In [104]:
processedDf.to_csv(processedFile,index=False)