In [4]:
import pandas as pd

In [5]:
jfkFile = "/home/urwa/Documents/Projects/NYU Remote/project/DOEdata2018/JFKdata.csv"

Time range: [2018,1,1 ~ 2018,12,31] (entire 2018)

Aggregation window size: 15-min

Feature Description:
1. `arrival`: For JFK and LGA datasets, these are number of arriving domestic flights. For PENN station, these are number of arriving amtrak trains
2. `yellow`: number of outgoing yellow taxicabs
3. `fhv`: number of outgoing for hired vehicle
3. `vehicle`: the sum of `yellow` and `fhv`

In [9]:
JFK = pd.read_csv(jfkFile)
JFK = JFK[['date','arrival','fhv','yellow','vehicle']]

In [10]:
JFK.head()

                  date  arrival   fhv  yellow  vehicle
0  2018-01-01 00:00:00      3.0  79.0    53.0    132.0
1  2018-01-01 00:15:00      0.0  76.0    42.0    118.0
2  2018-01-01 00:30:00      3.0  55.0    43.0     98.0
3  2018-01-01 00:45:00      0.0  53.0    36.0     89.0
4  2018-01-01 01:00:00      2.0  37.0    38.0     75.0

In [2]:
def getUrl(cabtype,year,month):
    baseUrl = 'https://s3.amazonaws.com/nyc-tlc/trip+data/'
    
    if len(str(month)) == 1:
        fileName = '%s_tripdata_%s-0%s.csv'%(cabtype,year,month)
    else:
        fileName = '%s_tripdata_%s-%s.csv'%(cabtype,year,month)
        
    return baseUrl + fileName, fileName

In [3]:
getUrl(cabtype= 'fhv',year=2017,month=1)[0]

'https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2017-01.csv'