### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [1]:
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [2]:
# raw data directory
dataDir = '/home/urwa/Documents/Projects/NYU Remote/project/data/rawData/'

In [5]:
files = glob.glob(dataDir+'*csv')
len(files)

36

### identify zones of interest

In [6]:
zones = pd.read_csv('../Data/taxi_zones.csv')
zones.head(2)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens

In [9]:
zones[zones.zone.apply(lambda x: 'Airport' in x)][['zone','LocationID']]

                  zone  LocationID
0       Newark Airport           1
136        JFK Airport         132
145  LaGuardia Airport         138

In [10]:
zones[zones.zone.apply(lambda x: 'Station' in x)][['zone','LocationID']]

                             zone  LocationID
185  Penn Station/Madison Sq West         186

In [15]:
zone_dict = {'Jfk':  132,
'Lga' : 138,
'Penn' : 186}
zone_dict

{'Jfk': 132, 'Lga': 138, 'Penn': 186}

### Run following script for each hub

In [63]:
hub = 'Penn'
zone = zone_dict[hub]
zone

186

In [64]:
processedFileDir = "/home/urwa/Documents/Projects/NYU Remote/project/data/processedData/"
processedFile = processedFileDir+hub+"VehiceByHour.csv"

In [65]:
validDestZones = list(set([z for z in zones.LocationID if z != zone]))
len(validDestZones)

259

In [66]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file)
    print("DataFrame Shape: "+str(df.shape))
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1
        
    if vehicleType == 'green':
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)


    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from selected hub
    df = df[(df['PULocationID'] == zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['Date', 'Hour', 'DOLocationID','passenger_count']]
    
    # Hourly aggregation
    #df_count = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count = df.groupby(['Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count.rename(columns={'passenger_count': 'vehicle_count'},inplace=True)

    #df_sum = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()

    #aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    aggregatedDf = df_count
    
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing yellow_tripdata_2018-11.csv
DataFrame Shape: (8145164, 17)
JFK out DataFrame Shape: (273052, 17)
Aggregated DataFrame Shape: (44396, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    23           230              1
1  2018-10-31    23           162              2
2  2018-10-31    23           230              1
create results file...
file saved..
------------------------------------------------
Processing green_tripdata_2018-06.csv
DataFrame Shape: (739373, 19)
JFK out DataFrame Shape: (39, 19)
Aggregated DataFrame Shape: (39, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-02    21           164              1
1  2018-06-04     8           113              1
2  2018-06-04     9           138              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-09.csv
DataFrame Shape: (666708, 19)
JFK out DataFrame Shape: (38, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01    17           249              1
1  2018-09-02    13            75              1
2  2018-09-03    17           113              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-12.csv
DataFrame Shape: (685373, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (36, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-01    15           161              1
1  2018-12-02    12           164              1
2  2018-12-02    17           246              2
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-05.csv
DataFrame Shape: (21565692, 7)
JFK out DataFrame Shape: (112677, 8)
Aggregated DataFrame Shape: (43779, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-01     0             7              1
1  2018-05-01     0            14              1
2  2018-05-01     0            17              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-10.csv
DataFrame Shape: (710510, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01    11           162              1
1  2018-10-02     8           142              1
2  2018-10-02     9           161              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-11.csv
DataFrame Shape: (656573, 19)
JFK out DataFrame Shape: (42, 19)
Aggregated DataFrame Shape: (41, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01    12             1              1
1  2018-11-03     2           228              1
2  2018-11-03    15           233              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-06.csv
DataFrame Shape: (8713831, 17)
JFK out DataFrame Shape: (285873, 17)
Aggregated DataFrame Shape: (45671, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-31    21           244              1
1  2018-05-31    23            48              3
2  2018-05-31    23            68              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv
DataFrame Shape: (21135283, 7)
JFK out DataFrame Shape: (108689, 8)
Aggregated DataFrame Shape: (42370, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-01     0             4              1
1  2018-06-01     0             7              4
2  2018-06-01     0            13              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-03.csv
DataFrame Shape: (9430376, 17)
JFK out DataFrame Shape: (310302, 17)
Aggregated DataFrame Shape: (46668, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0            68              1
1  2009-01-01     0           164              1
2  2009-01-01     1           142              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-01.csv
DataFrame Shape: (793529, 19)
JFK out DataFrame Shape: (33, 19)
Aggregated DataFrame Shape: (33, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01    22           107              1
1  2018-01-02     8           170              1
2  2018-01-02    14             1              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-09.csv
DataFrame Shape: (8040133, 17)
JFK out DataFrame Shape: (270568, 17)
Aggregated DataFrame Shape: (44869, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0           229              1
1  2018-08-31    21            48              1
2  2018-08-31    21            65              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-04.csv
DataFrame Shape: (800084, 19)
JFK out DataFrame Shape: (27, 19)
Aggregated DataFrame Shape: (27, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01    11           230              1
1  2018-04-02    17            68              1
2  2018-04-02    21           230              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-07.csv
DataFrame Shape: (7849748, 17)
JFK out DataFrame Shape: (283346, 17)
Aggregated DataFrame Shape: (46208, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-30    18           125              1
1  2018-06-30    23            22              1
2  2018-06-30    23            24              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-03.csv
DataFrame Shape: (21985249, 7)
JFK out DataFrame Shape: (109253, 8)
Aggregated DataFrame Shape: (43011, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-01     0             7              4
1  2018-03-01     0             8              1
2  2018-03-01     0            14              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-10.csv
DataFrame Shape: (8821105, 17)
JFK out DataFrame Shape: (288046, 17)
Aggregated DataFrame Shape: (46366, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    12            48              1
1  2009-01-01     0            68              1
2  2009-01-01     1           261              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-11.csv
DataFrame Shape: (22870474, 7)
JFK out DataFrame Shape: (133497, 8)
Aggregated DataFrame Shape: (46192, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01     0             7              3
1  2018-11-01     0            13              1
2  2018-11-01     0            15              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-09.csv
DataFrame Shape: (22147421, 7)
JFK out DataFrame Shape: (126060, 8)
Aggregated DataFrame Shape: (45998, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01     0             4              2
1  2018-09-01     0             7              2
2  2018-09-01     0            16              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-02.csv
DataFrame Shape: (19350693, 7)
JFK out DataFrame Shape: (97203, 8)
Aggregated DataFrame Shape: (37757, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-01     0             4              1
1  2018-02-01     0             7              1
2  2018-02-01     0            19              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-03.csv
DataFrame Shape: (837149, 19)
JFK out DataFrame Shape: (39, 19)
Aggregated DataFrame Shape: (39, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-01    23           233              1
1  2018-03-02    12           246              1
2  2018-03-04    10           113              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-08.csv

DataFrame Shape: (22116391, 7)
JFK out DataFrame Shape: (122868, 8)
Aggregated DataFrame Shape: (47285, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-01     0             3              1
1  2018-08-01     0             4              1
2  2018-08-01     0             7              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-02.csv
DataFrame Shape: (8492076, 17)
JFK out DataFrame Shape: (279480, 17)
Aggregated DataFrame Shape: (41352, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    22           138              1
1  2018-01-17    18           170              1
2  2018-01-19     1           230              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-07.csv
DataFrame Shape: (684455, 19)
JFK out DataFrame Shape: (45, 19)
Aggregated DataFrame Shape: (44, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-03     6           263              1
1  2018-07-03    21           234              1
2  2018-07-04    23           107              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-12.csv
DataFrame Shape: (23854144, 7)
JFK out DataFrame Shape: (136727, 8)
Aggregated DataFrame Shape: (47551, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-01     0             3              1
1  2018-12-01     0             4              4
2  2018-12-01     0             6              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-01.csv
DataFrame Shape: (19808094, 7)
JFK out DataFrame Shape: (99731, 8)
Aggregated DataFrame Shape: (39713, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01     0             4              3
1  2018-01-01     0             7              1
2  2018-01-01     0            13              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-08.csv
DataFrame Shape: (666376, 19)
JFK out DataFrame Shape: (29, 19)
Aggregated DataFrame Shape: (29, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-01     0            50              1
1  2018-08-01     0           233              1
2  2018-08-02     8           137              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-12.csv
DataFrame Shape: (8173231, 17)
JFK out DataFrame Shape: (270434, 17)
Aggregated DataFrame Shape: (45728, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0           256              1
1  2009-01-01     2           236              1
2  2018-11-09    19            13              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-07.csv
DataFrame Shape: (21596443, 7)
JFK out DataFrame Shape: (117540, 8)
Aggregated DataFrame Shape: (45159, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-01     0             1              1
1  2018-07-01     0             4              4
2  2018-07-01     0             7              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-10.csv
DataFrame Shape: (23286795, 7)
JFK out DataFrame Shape: (131034, 8)
Aggregated DataFrame Shape: (47595, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01     0             1              2
1  2018-10-01     0             4              3
2  2018-10-01     0             7              6
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-04.csv
DataFrame Shape: (21049377, 7)
JFK out DataFrame Shape: (106791, 8)
Aggregated DataFrame Shape: (42576, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01     0             4              2
1  2018-04-01     0             7              5
2  2018-04-01     0             9              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-04.csv
DataFrame Shape: (9305515, 17)
JFK out DataFrame Shape: (303230, 17)
Aggregated DataFrame Shape: (45689, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    12           163              1
1  2009-01-01     0           263              1
2  2018-03-31    17           164              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-05.csv
DataFrame Shape: (797233, 19)
JFK out DataFrame Shape: (29, 19)
Aggregated DataFrame Shape: (29, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-02    18           163              1
1  2018-05-03    18            68              1
2  2018-05-03    19           233              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-08.csv
DataFrame Shape: (7849134, 17)
JFK out DataFrame Shape: (286551, 17)
Aggregated DataFrame Shape: (46549, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-31    23           116              1
1  2018-07-31    23           140              1
2  2018-08-01     0             4              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-01.csv
DataFrame Shape: (8759874, 17)
JFK out DataFrame Shape: (287909, 17)
Aggregated DataFrame Shape: (44429, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-12-31    16            33              1
1  2017-12-31    18           226              1
2  2017-12-31    23            68              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-02.csv
DataFrame Shape: (769940, 19)
JFK out DataFrame Shape: (43, 19)
Aggregated DataFrame Shape: (43, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-01    11           237              1
1  2018-02-05    18           263              1
2  2018-02-06    15           161              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-05.csv
DataFrame Shape: (9224063, 17)
JFK out DataFrame Shape: (294515, 17)
Aggregated DataFrame Shape: (46843, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-30    23            42              1
1  2018-04-30    23            68              1
2  2018-04-30    23            79              1
append to results...
file saved..
------------------------------------------------

### Further processing

In [67]:
def getcCompleteGridDf(minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    print(len(days))
    print(len(hours))
    
    combList = list(itertools.product(*[days,hours,locations]))
    dfList = [{'Date':d, 'Hour':h, 'DOLocationID':l} for d,h,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [68]:
processedDf = pd.read_csv(processedFile)
processedDf.head(2)

         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    23           230              1
1  2018-10-31    23           162              2

In [69]:
processedDf.shape

(1074188, 4)

In [70]:
# ensuring proper grouping since files were grouped by independently
processedDf = processedDf.groupby(['Date', 'Hour', 'DOLocationID']).sum().reset_index()
processedDf.shape

(712596, 4)

In [71]:
# sanity checks
validYears = [2018]
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[0]) in validYears)]

validMonths = list(range(1,13))
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[1]) in validMonths)]

processedDf.shape

(712570, 4)

In [72]:
minDate, maxDate = (processedDf.Date.min(), processedDf.Date.max()) 
#v_types = list(set(processedDf.vehicle_type))
locations = list(set(processedDf.DOLocationID))

#print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(minDate,maxDate,locations)
dateHourDf.shape

257
365
24

(2251320, 3)

In [73]:
dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date'])
processedDf['Date'] = pd.to_datetime(processedDf['Date'])

In [74]:
mergedDf = pd.merge(dateHourDf,processedDf, on=['Date', 'Hour', 'DOLocationID'], how='left')
mergedDf.fillna(0, inplace=True)
mergedDf['Date'] = mergedDf['Date'].dt.date
print(mergedDf.shape)
mergedDf.head(3)

(2251320, 4)

   DOLocationID        Date  Hour  vehicle_count
0             1  2018-01-01     0            0.0
1             2  2018-01-01     0            0.0
2             3  2018-01-01     0            0.0

In [75]:
# sanity check
print(processedDf.vehicle_count.sum())
print(mergedDf.vehicle_count.sum())

4835787
4835787.0

In [76]:
# sanity check for size of new dataframe
366*258*24

2266272

In [77]:
# fraction of combinations that have data. Data is very scarce !!!
2332298/4520160

0.5159768680754664

In [78]:
mergedDf.to_csv(processedFile,index=False)