### This notebook does the following:
- processes raw ridership data
- performs feature selection and cleaning
- performs hourly aggregation
- saves results in one file

In [1]:
import pandas as pd
import glob
import os
from datetime import date, timedelta
import itertools

In [2]:
dataDir = '/home/urwa/Documents/NYU/Data/'
processedFile = '/home/urwa/Documents/NYU/JfkVehiceByHour.csv'

In [3]:
files = glob.glob(dataDir+'*csv')

In [4]:
zones = pd.read_csv('../Data/taxi_zones.csv')
zones.head(2)

,OBJECTID,Shape_Leng,the_geom,Shape_Area,zone,LocationID,borough
0,1,0.116357,MULTIPOLYGON (((-74.18445299999996 40.69499599...,0.000782,Newark Airport,1,EWR
1,2,0.433470,MULTIPOLYGON (((-73.82337597260663 40.63898704...,0.004866,Jamaica Bay,2,Queens

In [5]:
zones[zones.zone.apply(lambda x: 'Airport' in x)][['zone','LocationID']]

                  zone  LocationID
0       Newark Airport           1
136        JFK Airport         132
145  LaGuardia Airport         138

In [6]:
JfK_zone = 132
validDestZones = list(set([z for z in zones.LocationID if z != JfK_zone]))
len(validDestZones)

259

In [7]:
for file in files:
    print("Processing "+str(file).split('/')[-1])
    
    vehicleType = str(file).split('/')[-1].split('_')[0]
    df = pd.read_csv(file)
    print("DataFrame Shape: "+str(df.shape))
    
    # rename columns for consistency
    # set passenger count to 1 for fhv
    if vehicleType == 'fhv':
        df.rename(columns={'Pickup_DateTime': 'tpep_pickup_datetime', \
                           'PUlocationID':'PULocationID', 'DOlocationID':'DOLocationID' },inplace=True)
        df['passenger_count'] = 1
        
    if vehicleType == 'green':
        df.rename(columns={'lpep_pickup_datetime': 'tpep_pickup_datetime'},inplace=True)


    # treat for na values
    df = df.dropna(subset=['tpep_pickup_datetime','PULocationID', 'DOLocationID'])
    df.fillna(value={'passenger_count':1}, inplace = True)
    
    # correct data types
    df['PULocationID'] = df['PULocationID'].astype('int')
    df['DOLocationID'] = df['DOLocationID'].astype('int')
    
    # filter to get outgoing traffic from JFK
    df = df[(df['PULocationID'] == JfK_zone) & (df['DOLocationID'].apply(lambda x: x in validDestZones))]
    print("JFK out DataFrame Shape: "+str(df.shape))
    
    # treat datetime
    df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
    df['Date'] = df['tpep_pickup_datetime'].dt.date
    df['Hour'] = df['tpep_pickup_datetime'].dt.hour
    
    #df['vehicle_type'] = vehicleType
    
    # select rquired columns
    #df = df[['vehicle_type', 'Date', 'Hour', 'DOLocationID','passenger_count']]
    df = df[['Date', 'Hour', 'DOLocationID','passenger_count']]
    
    # Hourly aggregation
    #df_count = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count = df.groupby(['Date', 'Hour', 'DOLocationID']).count().reset_index()
    df_count.rename(columns={'passenger_count': 'vehicle_count'},inplace=True)

    #df_sum = df.groupby(['vehicle_type', 'Date', 'Hour', 'DOLocationID']).sum().reset_index()

    #aggregatedDf = pd.merge(df_count,df_sum, on=['vehicle_type', 'Date', 'Hour', 'DOLocationID'], how='inner')
    aggregatedDf = df_count
    
    print("Aggregated DataFrame Shape: "+str(aggregatedDf.shape))
    print(aggregatedDf.head(3))
    # save file
    if os.path.exists(processedFile):
        print('append to results...')
        aggregatedDf.to_csv(processedFile,index=False, header=False, mode='a+')      
    else:
        print('create results file...')
        aggregatedDf.to_csv(processedFile,index=False)
    print('file saved..')
    print("------------------------------------------------")

Processing green_tripdata_2018-07.csv
DataFrame Shape: (684455, 19)
JFK out DataFrame Shape: (35, 19)
Aggregated DataFrame Shape: (35, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-01     1           121              1
1  2018-07-02    21           230              1
2  2018-07-03     6            86              1
create results file...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-02.csv
DataFrame Shape: (8492076, 17)
JFK out DataFrame Shape: (162101, 17)
Aggregated DataFrame Shape: (63667, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    14           137              1
1  2018-01-16    19            10              1
2  2018-01-16    22            28              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-10.csv
DataFrame Shape: (17890689, 6)
JFK out DataFrame Shape: (182087, 7)
Aggregated DataFrame Shape: (74067, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-10-01     0             7              2
1  2017-10-01     0            10              1
2  2017-10-01     0            14              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-10.csv
DataFrame Shape: (9768815, 17)
JFK out DataFrame Shape: (221376, 17)
Aggregated DataFrame Shape: (76213, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    14           144              1
1  2017-09-30    20            82              1
2  2017-09-30    23            36              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-09.csv
DataFrame Shape: (16621439, 6)
JFK out DataFrame Shape: (180414, 7)
Aggregated DataFrame Shape: (72371, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-09-01     0             1              2
1  2017-09-01     0             3              1
2  2017-09-01     0             4              2
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-08.csv
DataFrame Shape: (15905901, 6)
JFK out DataFrame Shape: (182116, 7)
Aggregated DataFrame Shape: (77389, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-08-01     0             1              1
1  2017-08-01     0             3              1
2  2017-08-01     0             4              3
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-11.csv
DataFrame Shape: (9284803, 17)
JFK out DataFrame Shape: (195801, 17)
Aggregated DataFrame Shape: (70862, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0            35              1
1  2017-10-31    23           130              1
2  2017-10-31    23           140              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-11.csv
DataFrame Shape: (22870474, 7)
JFK out DataFrame Shape: (255437, 8)
Aggregated DataFrame Shape: (86464, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01     0             1              1
1  2018-11-01     0             3              1
2  2018-11-01     0             4              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-05.csv
DataFrame Shape: (10102124, 17)
JFK out DataFrame Shape: (232255, 17)
Aggregated DataFrame Shape: (81405, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-05-01     0             4              2
1  2017-05-01     0             7              4
2  2017-05-01     0            10              8
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-11.csv
DataFrame Shape: (656573, 19)
JFK out DataFrame Shape: (40, 19)
Aggregated DataFrame Shape: (40, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-11-01    21           186              1
1  2018-11-02    16           117              1
2  2018-11-02    19            52              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-11.csv
DataFrame Shape: (8145164, 17)
JFK out DataFrame Shape: (188856, 17)
Aggregated DataFrame Shape: (71107, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    22           140              1
1  2008-12-31    23           246              1
2  2009-01-01     0           246              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-01.csv
DataFrame Shape: (9710124, 17)
JFK out DataFrame Shape: (211198, 17)
Aggregated DataFrame Shape: (78441, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-01-01     0             4              1
1  2017-01-01     0             7              2
2  2017-01-01     0            10              6
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-04.csv
DataFrame Shape: (14764853, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-06.csv
DataFrame Shape: (8713831, 17)
JFK out DataFrame Shape: (205894, 17)
Aggregated DataFrame Shape: (74854, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     1           107              1
1  2018-05-31    21            13              1
2  2018-05-31    23            49              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-03.csv
DataFrame Shape: (1158638, 19)
JFK out DataFrame Shape: (34, 19)
Aggregated DataFrame Shape: (34, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-03-01    22           205              1
1  2017-03-03     9           216              1
2  2017-03-03    14           216              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-05.csv
DataFrame Shape: (21565692, 7)
JFK out DataFrame Shape: (229940, 8)
Aggregated DataFrame Shape: (85542, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-01     0             4              5
1  2018-05-01     0             7              3
2  2018-05-01     0            10              6
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-05.csv
DataFrame Shape: (1059463, 19)
JFK out DataFrame Shape: (49, 19)
Aggregated DataFrame Shape: (49, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-05-01    14             7              1
1  2017-05-01    21            19              1
2  2017-05-02    18           166              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-12.csv
DataFrame Shape: (9508276, 17)
JFK out DataFrame Shape: (182500, 17)
Aggregated DataFrame Shape: (70367, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    23            62              1
1  2009-01-01    12           140              1
2  2009-01-01    15            79              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-02.csv
DataFrame Shape: (13284950, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-03.csv
DataFrame Shape: (15703039, 5)
JFK out DataFrame Shape: (6, 6)
Aggregated DataFrame Shape: (5, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-03-06    14           230              1
1  2017-03-11    20           125              2
2  2017-03-13    10           230              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-04.csv

DataFrame Shape: (800084, 19)
JFK out DataFrame Shape: (51, 19)
Aggregated DataFrame Shape: (51, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01     5            49              1
1  2018-04-01     7           181              1
2  2018-04-01    10           186              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-01.csv

/home/urwa/.virtualenvs/stan/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

DataFrame Shape: (13657212, 5)
JFK out DataFrame Shape: (0, 6)
Aggregated DataFrame Shape: (0, 4)
Empty DataFrame
Columns: [Date, Hour, DOLocationID, vehicle_count]
Index: []
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-10.csv
DataFrame Shape: (8821105, 17)
JFK out DataFrame Shape: (212255, 17)
Aggregated DataFrame Shape: (74624, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    23            50              1
1  2008-12-31    23           162              1
2  2009-01-01     5           186              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-05.csv
DataFrame Shape: (15397388, 5)
JFK out DataFrame Shape: (1118, 6)
Aggregated DataFrame Shape: (1017, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-05-01     5            13              1
1  2017-05-01     5           161              1
2  2017-05-01     7           239              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-06.csv
DataFrame Shape: (976467, 19)
JFK out DataFrame Shape: (30, 19)
Aggregated DataFrame Shape: (30, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-06-01    21            62              1
1  2017-06-02    16           130              1
2  2017-06-04     1           197              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-03.csv
DataFrame Shape: (10294628, 17)
JFK out DataFrame Shape: (219222, 17)
Aggregated DataFrame Shape: (78029, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-03-01     0             4              1
1  2017-03-01     0             7              4
2  2017-03-01     0             9              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-10.csv
DataFrame Shape: (925737, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-10-01    18           216              1
1  2017-10-01    22           100              1
2  2017-10-02    11           138              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-09.csv
DataFrame Shape: (666708, 19)
JFK out DataFrame Shape: (48, 19)
Aggregated DataFrame Shape: (48, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01     5           138              1
1  2018-09-03    20            97              1
2  2018-09-03    20           249              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-03.csv
DataFrame Shape: (837149, 19)
JFK out DataFrame Shape: (31, 19)
Aggregated DataFrame Shape: (31, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-01    20            49              1
1  2018-03-01    21           238              1
2  2018-03-02    10           148              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-12.csv
DataFrame Shape: (8173231, 17)
JFK out DataFrame Shape: (174983, 17)
Aggregated DataFrame Shape: (69955, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    21           211              1
1  2018-11-04    15            82              1
2  2018-11-04    17           171              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-07.csv
DataFrame Shape: (7849748, 17)
JFK out DataFrame Shape: (205408, 17)
Aggregated DataFrame Shape: (78254, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    15           247              1
1  2008-12-31    23            39              1
2  2009-01-01     0           189              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-06.csv
DataFrame Shape: (21135283, 7)
JFK out DataFrame Shape: (224587, 8)
Aggregated DataFrame Shape: (84089, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-01     0             1              1
1  2018-06-01     0             3              2
2  2018-06-01     0             4              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-04.csv
DataFrame Shape: (10046188, 17)
JFK out DataFrame Shape: (226584, 17)
Aggregated DataFrame Shape: (78732, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-04-01     0             1              1
1  2017-04-01     0             4              1
2  2017-04-01     0             7              4
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-04.csv
DataFrame Shape: (1081771, 19)
JFK out DataFrame Shape: (40, 19)
Aggregated DataFrame Shape: (40, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-04-01     0            48              1
1  2017-04-02    19           255              1
2  2017-04-02    20           255              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-09.csv
DataFrame Shape: (8040133, 17)
JFK out DataFrame Shape: (203757, 17)
Aggregated DataFrame Shape: (74714, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31     7           142              1
1  2008-12-31    23           158              1
2  2018-08-31    22            75              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-01.csv
DataFrame Shape: (1070261, 19)
JFK out DataFrame Shape: (43, 19)
Aggregated DataFrame Shape: (42, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-01-01    11            89              1
1  2017-01-01    16            89              1
2  2017-01-02     6           134              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-09.csv
DataFrame Shape: (8945459, 17)
JFK out DataFrame Shape: (214818, 17)
Aggregated DataFrame Shape: (75637, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-08-31    23            48              1
1  2017-08-31    23           123              1
2  2017-08-31    23           142              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-05.csv
DataFrame Shape: (797233, 19)
JFK out DataFrame Shape: (42, 19)
Aggregated DataFrame Shape: (42, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-05-01    19           140              1
1  2018-05-02    10            98              1
2  2018-05-02    21           174              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-01.csv
DataFrame Shape: (19808094, 7)
JFK out DataFrame Shape: (215949, 8)
Aggregated DataFrame Shape: (81305, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01     0             4              1
1  2018-01-01     0             7              3
2  2018-01-01     0            10              5
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-07.csv
DataFrame Shape: (914783, 19)
JFK out DataFrame Shape: (43, 19)
Aggregated DataFrame Shape: (43, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-07-02    15            33              1
1  2017-07-02    20           188              1
2  2017-07-04    18           169              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-06.csv
DataFrame Shape: (9656993, 17)
JFK out DataFrame Shape: (214035, 17)
Aggregated DataFrame Shape: (77138, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-06-01     0             4              1
1  2017-06-01     0             7              6
2  2017-06-01     0            10              5
append to results...

file saved..
------------------------------------------------
Processing fhv_tripdata_2018-12.csv
DataFrame Shape: (23854144, 7)
JFK out DataFrame Shape: (234343, 8)
Aggregated DataFrame Shape: (86376, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-01     0             4              2
1  2018-12-01     0             7              5
2  2018-12-01     0            10              3
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-03.csv
DataFrame Shape: (21985249, 7)
JFK out DataFrame Shape: (219062, 8)
Aggregated DataFrame Shape: (82490, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-03-01     0             3              1
1  2018-03-01     0             4              2
2  2018-03-01     0             7              3
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-09.csv
DataFrame Shape: (882464, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-09-01    10             1              1
1  2017-09-01    11           134              1
2  2017-09-03    18            48              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-08.csv
DataFrame Shape: (666376, 19)
JFK out DataFrame Shape: (67, 19)
Aggregated DataFrame Shape: (67, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-02    13            73              1
1  2018-08-03     2           222              1
2  2018-08-03     6           203              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-02.csv
DataFrame Shape: (9168825, 17)
JFK out DataFrame Shape: (172634, 17)
Aggregated DataFrame Shape: (65259, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-02-01     0             4              1
1  2017-02-01     0             7              1
2  2017-02-01     0            10              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-01.csv
DataFrame Shape: (8759874, 17)
JFK out DataFrame Shape: (188144, 17)
Aggregated DataFrame Shape: (73341, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2003-01-01     4           249              1
1  2017-12-31    17           160              1
2  2017-12-31    23            95              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-11.csv
DataFrame Shape: (18048534, 6)
JFK out DataFrame Shape: (184807, 7)
Aggregated DataFrame Shape: (72760, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-11-01     0             4              2
1  2017-11-01     0             7              2
2  2017-11-01     0            10              2
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-09.csv
DataFrame Shape: (22147421, 7)
JFK out DataFrame Shape: (250515, 8)
Aggregated DataFrame Shape: (87358, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-09-01     0             4              3
1  2018-09-01     0             5              1
2  2018-09-01     0             7              4
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-06.csv
DataFrame Shape: (739373, 19)
JFK out DataFrame Shape: (43, 19)
Aggregated DataFrame Shape: (43, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-06-01     1            26              1
1  2018-06-02    16           203              1
2  2018-06-03    19            26              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-05.csv
DataFrame Shape: (9224063, 17)
JFK out DataFrame Shape: (217780, 17)
Aggregated DataFrame Shape: (77256, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    22           166              1
1  2009-01-01     0            69              1
2  2009-01-01     0           144              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-04.csv
DataFrame Shape: (21049377, 7)
JFK out DataFrame Shape: (212327, 8)
Aggregated DataFrame Shape: (82128, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-04-01     0             1              1
1  2018-04-01     0            10              6
2  2018-04-01     0            13              4
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-08.csv
DataFrame Shape: (8422153, 17)
JFK out DataFrame Shape: (217715, 17)
Aggregated DataFrame Shape: (83007, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0           181              1
1  2017-08-01     0             7              2
2  2017-08-01     0            10              6
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-12.csv
DataFrame Shape: (19971846, 6)
JFK out DataFrame Shape: (181480, 7)
Aggregated DataFrame Shape: (75247, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-12-01     0             4              2
1  2017-12-01     0             7              2
2  2017-12-01     0            10              4
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-07.csv
DataFrame Shape: (15672672, 6)
JFK out DataFrame Shape: (177430, 7)
Aggregated DataFrame Shape: (74638, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-07-01     0             1              1
1  2017-07-01     0             4              2
2  2017-07-01     0             7              3
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-08.csv
DataFrame Shape: (867407, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-08-01     6            29              1
1  2017-08-01    18            55              1
2  2017-08-03    17           230              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-10.csv
DataFrame Shape: (23286795, 7)
JFK out DataFrame Shape: (257143, 8)
Aggregated DataFrame Shape: (88671, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01     0             4              4
1  2018-10-01     0             7              9
2  2018-10-01     0             9              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-01.csv
DataFrame Shape: (793529, 19)
JFK out DataFrame Shape: (41, 19)
Aggregated DataFrame Shape: (41, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-01-01     8            55              1
1  2018-01-03     3            49              1
2  2018-01-03     7            17              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-12.csv
DataFrame Shape: (685373, 19)
JFK out DataFrame Shape: (15, 19)
Aggregated DataFrame Shape: (15, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-12-04    15            98              1
1  2018-12-06    16           117              1
2  2018-12-06    20           170              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-11.csv
DataFrame Shape: (874173, 19)
JFK out DataFrame Shape: (27, 19)
Aggregated DataFrame Shape: (27, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-11-01    20            28              1
1  2017-11-02    20           161              1
2  2017-11-05    14           138              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2017-06.csv
DataFrame Shape: (15362154, 5)
JFK out DataFrame Shape: (170969, 6)
Aggregated DataFrame Shape: (71326, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-06-01     0             4              1
1  2017-06-01     0             7              2
2  2017-06-01     0            10              3
append to results...

file saved..
------------------------------------------------
Processing yellow_tripdata_2018-04.csv
DataFrame Shape: (9305515, 17)
JFK out DataFrame Shape: (210272, 17)
Aggregated DataFrame Shape: (75371, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2009-01-01     0            72              1
1  2009-01-01    18           162              1
2  2009-01-01    20            39              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-03.csv
DataFrame Shape: (9430376, 17)
JFK out DataFrame Shape: (199739, 17)
Aggregated DataFrame Shape: (73962, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2002-12-31    23           239              1
1  2003-01-01    23            87              1
2  2009-01-01     0            89              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-02.csv
DataFrame Shape: (19350693, 7)
JFK out DataFrame Shape: (176542, 8)
Aggregated DataFrame Shape: (70384, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-01     0             4              1
1  2018-02-01     0             6              1
2  2018-02-01     0             7              3
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-02.csv
DataFrame Shape: (1023263, 19)
JFK out DataFrame Shape: (38, 19)
Aggregated DataFrame Shape: (38, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-02-01    14            98              1
1  2017-02-01    16           166              1
2  2017-02-01    22           141              1
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-02.csv
DataFrame Shape: (769940, 19)
JFK out DataFrame Shape: (32, 19)
Aggregated DataFrame Shape: (32, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-02-01    19            52              1
1  2018-02-01    21           178              1
2  2018-02-01    23            90              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2018-08.csv
DataFrame Shape: (7849134, 17)
JFK out DataFrame Shape: (210080, 17)
Aggregated DataFrame Shape: (81715, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2008-12-31    23           140              1
1  2008-12-31    23           161              1
2  2009-01-01    17            80              1
append to results...
file saved..
------------------------------------------------
Processing yellow_tripdata_2017-07.csv
DataFrame Shape: (8588486, 17)
JFK out DataFrame Shape: (215041, 17)
Aggregated DataFrame Shape: (80302, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-07-01     0             1              1
1  2017-07-01     0             7              8
2  2017-07-01     0            10             12
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2018-10.csv
DataFrame Shape: (710510, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-10-01     9           216              1
1  2018-10-01    22            79              1
2  2018-10-02    13           117              1
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-08.csv
DataFrame Shape: (22116391, 7)
JFK out DataFrame Shape: (253588, 8)
Aggregated DataFrame Shape: (93982, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-08-01     0             1              1
1  2018-08-01     0             4              2
2  2018-08-01     0             7              4
append to results...
file saved..
------------------------------------------------
Processing fhv_tripdata_2018-07.csv
DataFrame Shape: (21596443, 7)
JFK out DataFrame Shape: (235519, 8)
Aggregated DataFrame Shape: (89002, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2018-07-01     0             1              1
1  2018-07-01     0             7              3
2  2018-07-01     0            10              9
append to results...
file saved..
------------------------------------------------
Processing green_tripdata_2017-12.csv
DataFrame Shape: (906240, 19)
JFK out DataFrame Shape: (37, 19)
Aggregated DataFrame Shape: (37, 4)
         Date  Hour  DOLocationID  vehicle_count
0  2017-12-01     6            55              1
1  2017-12-01     6           238              1
2  2017-12-01     7            14              1
append to results...
file saved..
------------------------------------------------

### Further processing

In [8]:
def getcCompleteGridDf(minDate,maxDate, locations):
    minDate = [int(x) for x in minDate.split('-')]
    maxDate = [int(x) for x in maxDate.split('-')]
    sdate = date(minDate[0], minDate[1], minDate[2])   
    edate = date(maxDate[0], maxDate[1], maxDate[2])    

    delta = edate - sdate       
    days = []
    for i in range(delta.days + 1):
        days.append(sdate + timedelta(days=i))
    hours = list(range(24))
    print(len(days))
    print(len(hours))
    
    combList = list(itertools.product(*[days,hours,locations]))
    dfList = [{'Date':d, 'Hour':h, 'DOLocationID':l} for d,h,l in combList]
 
    dateHourDf = pd.DataFrame(dfList)
    dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date']).dt.date
    return dateHourDf

In [9]:
processedDf = pd.read_csv(processedFile)
processedDf.head(2)

         Date  Hour  DOLocationID  vehicle_count
0  2018-07-01     1           121              1
1  2018-07-02    21           230              1

In [10]:
processedDf.shape

(3341756, 4)

In [11]:
# ensuring proper grouping since files were grouped by independently
processedDf = processedDf.groupby(['Date', 'Hour', 'DOLocationID']).sum().reset_index()
processedDf.shape

(2332343, 4)

In [12]:
# sanity checks
validYears = [2017,2018]
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[0]) in validYears)]

validMonths = list(range(1,13))
processedDf = processedDf[processedDf.Date.apply(lambda x: int(x.split('-')[1]) in validMonths)]

processedDf.shape

(2332298, 4)

In [13]:
minDate, maxDate = (processedDf.Date.min(), processedDf.Date.max()) 
#v_types = list(set(processedDf.vehicle_type))
locations = list(set(processedDf.DOLocationID))

#print(len(v_types))
print(len(locations))

dateHourDf = getcCompleteGridDf(minDate,maxDate,locations)
dateHourDf.shape

258
730
24

(4520160, 3)

In [22]:
dateHourDf['Date'] = pd.to_datetime(dateHourDf['Date'])
processedDf['Date'] = pd.to_datetime(processedDf['Date'])

In [28]:
mergedDf = pd.merge(dateHourDf,processedDf, on=['Date', 'Hour', 'DOLocationID'], how='left')
mergedDf.fillna(0, inplace=True)
mergedDf['Date'] = mergedDf['Date'].dt.date
print(mergedDf.shape)
mergedDf.head(3)

(4520160, 4)

         Date  Hour  DOLocationID  vehicle_count
0  2017-01-01     0             1            0.0
1  2017-01-01     0             2            0.0
2  2017-01-01     0             3            0.0

In [29]:
# sanity check
print(processedDf.vehicle_count.sum())
print(mergedDf.vehicle_count.sum())

8928716
8928716.0

In [30]:
# sanity check for size of new dataframe
730*258*24

4520160

In [31]:
# fraction of combinations that have data. Data is very scarce !!!
2332298/4520160

0.5159768680754664

In [32]:
mergedDf.to_csv(processedFile,index=False)